[2014-09-29 08:52] pmario opened #2 "host directories, data container - volume access permission denied"
I'm using boot2docker. Default user there is: docker ... UID:1000   GID:50

arangodb is set to UID:999 GID:999  ... so your "Using host directories" and "Using a data container" examples don't work. They don't start without any error message.

IMO the info for:  "Using host directories" should be like this:

[code]

---

IMO the info for:  "Using a data container" should be like this:

[code]

I p

[2014-11-25 00:04] #2 closed, assigned to nobody

[2014-12-24 16:59] raucao opened #3 "Comes with old version"
I copy/pasted the command including the version number (2.3.3) from the docs, but that version said it's not available. I then used it without specifying a version and got 2.3.2.

You might want to add "update docker image" somewhere in your release checklist. ;)

[2014-12-26 18:28] #3 closed, assigned to nobody

[2014-12-28 14:56] pluma opened #4 "2.4.0b1 no longer exposes 8529?"
I think 2.4 changed the port from 0.0.0.0:8529 to localhost:8529. I just tried to run the docker image for 2.4.0b1 and wasn't able to connect to the exposed port anymore.

[2014-12-28 20:54] #4 closed, assigned to nobody

[2015-01-21 21:16] pekeler commented on #2
@pmario did you get host directories working with boot2docker? Even with your chmod I'm getting
[code]

[2015-01-21 23:55] pmario commented on #2
@pekeler With boot2docker, imo you can't use the host directories, since they are not persistent. I use a setup with shared volumes.

I haven't seen an error message like yours. sry.

[2015-01-22 08:14] fceller commented on #2
I think the problem with boot2docker is, that it creates a Linux virtual box on the Mac. So the host is not the Mac but this virtual box,

[2015-01-22 18:12] pekeler commented on #2
boot2docker automatically mounts the user's home directory from the mac into the VM. Unfortunately, it seems that permissions are often getting in the way. https://github.com/boot2docker/boot2docker/issues/581

[2015-06-22 11:40] kevinprotoss opened #8 "Documentation about default username and password"
Hi,

after 2.6.0, I found arangodb has a default username and password after container run. There is no documentation about that in any arangodb repositories. In the end, after docker logs, I found the root user and auto generated password in the console.
I think it's not pretty clear to users. The better the documentation should be improved about that later.

Best regards,
Kevin

[2015-06-22 11:57] fceller commented on #8
It is documented in the 2.6 branch - but missing in master. Need to merge.

[2015-06-22 11:59] kevinprotoss commented on #8
Ah, I see.

Thanks

[2015-06-22 12:11] kevinprotoss commented on #8
By the way, is there any options for docker run command line so as to disable authentication?

[2015-06-22 12:22] fceller commented on #8
volumes:
  /data    	database files
  /apps    	application directory
  /apps-dev	application directory for development
  /logs    	log directory

pipe the log file to standard out:
  docker run arangodb standalone --verbose

disable authentication
  docker run arangodb standalone --disable-authentication

fire up a bash after starting the server:
  docker run -it arangodb standalone --console

sh

[2015-06-22 12:48] kevinprotoss commented on #8
Super, my app works again now. Thx for your answer.

[2015-06-22 12:48] #8 closed

[2015-07-20 14:33] frankmayer opened #9 "docker image needs a way to upgrade a database"
If I am not missing anything, I think, the docker image needs to provide some way to upgrade a database. :)

I stumbled on this when I upgraded my docker image from Arango 2.5.x to 2.6.x

[code]

[2015-07-20 14:44] fceller commented on #9
Yes, that is missing. Will fix.

[2015-07-21 14:33] bvenkatr opened #10 "Could not build aragnodb docker image, getting below error"
![screen shot 2015-07-21 at 7 52 14 pm](https://cloud.githubusercontent.com/assets/6078345/8803134/bfae08ae-2fe2-11e5-887d-b74e65cb1077.png)

I am new to this, Should I install libgoogle-perftools4 on mac?  Any help would be appreciated.

 OS: Mac Yosemite 10.10.4

[2015-07-21 14:37] dothebart commented on #10
Yes, the docker should install this. Which way did you start the installation?

[2015-07-21 14:43] bvenkatr commented on #10
I installed Boot2Docker-1.7.0.pkg, and it comes docker tool. Today I tried to build arangodb image like below
git clone https://github.com/arangodb/arangodb-docker.git
cd arangodb-docker/
docker build -t arangodb .

[2015-07-21 14:48] dothebart commented on #10
fixed by #bb1658b9e85f59dea992b57a4d71a6d96cc7793a - please run git pull once.

[2015-07-21 14:59] bvenkatr commented on #10
Done,  Thank you very much.

[2015-07-21 14:59] #10 closed

[2015-08-30 12:24] vanthome opened #11 "Persistent data docs are wrong!"
You write that the data dir is `/data` while it seems to be `/var/lib/arangodb`.
Well this is a MAJOR issue, I almost lost production data due to that!

Also there is no docker image for 2.6.7.

Here are the logs:

[code]

[2015-09-01 06:04] fceller commented on #11
Oh, dear. Will check.

[2015-09-01 06:07] fceller commented on #11
It seems, that the location has been changed without updating the documentation.

@dothebart what is done in the official image?

[2015-09-01 06:16] fceller commented on #11
The official image uses the "var" location. I'll update the other branches.

[2015-09-01 07:04] vanthome commented on #11
Ok, so the /var... location will also be the right one in future releases?

[2015-09-01 07:38] fceller commented on #11
Yes, it should be consistent with the official image.

[2015-09-01 07:42] dothebart commented on #11
The docker library team insisted on the LHFS conformant location. For shure the documentation should be accurate.

[2015-09-01 07:54] vanthome commented on #11
Hmm, are you sure, why is redis (one of the most popular images) using `/data` then?
See:
https://hub.docker.com/_/redis/

[2015-09-01 07:56] dothebart commented on #11
if you want to take a look: https://github.com/docker-library/official-images/pull/728 It really wasn't my idea.

[2015-09-05 12:17] fceller commented on #9
added "--upgrade"

[2015-09-05 12:17] #9 closed

[2015-09-05 12:17] fceller commented on #11
Updated documentation in master and 2.6

[2015-09-05 12:17] #11 closed

[2015-10-07 05:17] fridaystreet opened #13 "FATAL cannot start server: system error when trying to use host directories"
If I try and specify the host directories in my docker-compose.yml I just get the error.

starting ArangoDB in stand-alone mode
creating initial user, please wait ...
2015-10-07T05:11:17Z [15] FATAL cannot start server: system error
More error details may be provided in the logfile '/tmp/arangodb.log'

Without them specified everything runs fine. I'm just using latest.

These are the volume lines

[2015-10-07 11:26] fceller commented on #13
Can you try to use docker directly? Does this work?

[code]

[2015-10-08 05:10] fridaystreet commented on #13
Hi fceller,

Thanks for the quick response, yep that works. Should have thought to try that. Although saying that I also forgot to say that the error was running on osx using docker machine through a vm. I've just tested the above on linux with native docker and it works, so I'll have to try it at home tonight on osx and just make sure it's not just docker machine/osx. If it's still not working th

[2015-10-10 17:54] fceller commented on #13
@fridaystreet is it working for you? Can we close the issue?

[2015-10-11 22:55] fridaystreet commented on #13
Hi Frank,

Sorry for delayed response, I came down with a bit of the flu. Yes that did
work without using Docker compose. Any thoughts on why it wouldn't work
with compose?

Cheers
Paul
On 11 Oct 2015 1:55 am, "Frank Celler" <notifications@github.com> wrote:

[2015-10-12 07:10] fceller commented on #13
Hi Paul,

it might have to do with the way docker is implemented on MacOSX. Could you try Docker compose under Linux?

Thanks
  Frank

[2015-10-12 07:32] fridaystreet commented on #13
Yep will do. My box at the office is native Linux, I'll give it a try
tomorrow
On 12 Oct 2015 3:10 pm, "Frank Celler" <notifications@github.com> wrote:

[2015-10-12 07:42] fceller commented on #13
Could you maybe try docker directly on MacOSX? Does this also break?

[2015-10-12 07:48] fridaystreet commented on #13
Yep it's working fine with docker direct on osx, sorry that's what I meant
with my original reply. I'd tried it on my mac without compose and it was
ok. I'm pretty sure it failed on linux native on weekend with compose, but
I had a lot on over the weekend and I actually can't recall if that did
work. So I'll try that again tomorrow and report back.

On Mon, Oct 12, 2015 at 3:42 PM, Frank Celler <n

[2015-10-12 18:54] pluma opened #14 "Optionally disable auth?"
Is there a straightforward way to run the container without authentication? I'm using docker for development and having to add auth headers to all requests in development gets tedious.

[2015-10-12 18:58] fceller commented on #14
Can you try "docker run arangodb/arangodb standalone --disable-authentication"?

[2015-10-12 19:08] pluma commented on #14
That did the trick. Thanks!

[2015-10-12 19:08] #14 closed

[2015-11-30 14:04] mohamnag commented on #13
Hi, I'm having a very similar problem with docker on OSX. I made sure that both `apps/` and `data/` directories exist, are empty and writable by everybody. however I get following log when trying to mount volumes:

[code]

I have tried it with both images 2.7.0 and 2.7.1 but all is the same.

[2015-11-30 14:08] mohamnag commented on #13
PS: both dirs are owned by 999:999

[2015-11-30 14:22] dothebart commented on #13
@mohamnag is this the UID which ArangoDB is running as inside of the container? (see /etc/passwd inside of the docker container)

[2015-11-30 15:23] mohamnag commented on #13
@dothebart yes:
[code]

[2015-11-30 15:32] dothebart commented on #13
will making it world writeable fix the issue? and if yes, which uid then owns the files created?

[2015-11-30 15:57] mohamnag commented on #13
dirs were world writable before starting and it did not fix the problem. actually I just tried not to make them world writable and it did not even succeed to create files inside them:
[code]

when world writable, created files are owned by my user (!= root) and by group 999. Can this be a problem on docker's side? is docker using my user's id inside image?

[2015-11-30 16:01] dothebart commented on #13
hm, fancily one has to explicitely mark them as readonly:
https://docs.docker.com/engine/userguide/dockervolumes/

    $ docker run -d -P --name web -v /opt/webapp:ro training/webapp python app.py

I guess you didn't do that?

[2015-11-30 16:03] mohamnag commented on #13
you mean for arrangodb to write on volumes I have to make it readonly?

[2015-11-30 16:10] mohamnag commented on #13
ok I think this is a generic docker problem on OSX, just found this: http://stackoverflow.com/questions/26348353/mount-volume-to-docker-image-on-osx

[2015-11-30 16:34] dothebart commented on #13
No - ArangoDB has to be able to write to its data volumes for shure. At least with native linux and Docker volumes are writeable by default (as the docker faq stated). I wanted you to find out whether its a problem outside of docker or inside.

According to that stackoverflow link you found boot2docker has troubles mounting volumes into containers without some reconfiguration?

[2015-11-30 16:39] mohamnag commented on #13
not only boot2docker but also the newer docker-machine solution seems to have the same issue when mounting volumes from OSX host into docker images. (I'm actually using latest docker-machine with latest docker).

when I do not explicitly mount volumes from OSX host, the image starts with no problem. This can be because docker is then using auto assigned volumes from inside virtual box image to doc

[2015-12-01 14:30] dothebart commented on #13
I've added a link to the upstream docker doku, so others hopefully won't trap into this anymore. https://docs.arangodb.com/cookbook/RunningInDockerContainer.html#persistent-data

[2015-12-01 17:36] dothebart commented on #13
It seems to be an issue for many non-linux docker users: https://github.com/boot2docker/boot2docker/issues/581 (they even lit a candle for the bugs birthday...)

[2015-12-02 15:28] dothebart commented on #13
Ok, Receipe updated to handle Containers in VMs with host OS filesystems.

[2015-12-02 15:28] #13 closed

[2016-01-14 02:28] solher opened #17 "Disable the port redirection on /"
I'm currently using ArangoDB in my Docker system and I expose the admin interface to the world through Nginx/Docker-gen (eg. http://arangodb.foobar.com).

The problem is that when ArangoDB is hit on /, it returns a `301 http://arangodb.foobar.com:8529/_db/_system/_admin/aardvark/index.html`, and I get obviously no response as nothing is listening on the port :8529.

Would it be possible for Arango

[2016-01-14 07:15] neunhoef commented on #17
I have to check but such a port redirect is clearly a severe bug in a multitude of situations, in particular with ArangoDB running in a container.

Am 14. Januar 2016 03:28:43 MEZ, schrieb Fabien Herfray <notifications@github.com>:

[2016-01-14 09:37] neunhoef commented on #17
I had a look into this. If I start a docker image with ArangoDB locally with ArangoDB exposed on port 8530, say, by doing:

    docker run -it -p 8530:8529 arangodb

Then ArangoDB rewrites the URL

    http://localhost:8530/

to

    http://localhost:8530/_db/_system/_admin/aardvark/standalone.html

so it does not, in fact, change the port, even if it believes to run on port 8529. I think this is

[2016-01-14 10:10] neunhoef commented on #17
Checked with a colleague (thanks Willi!): Later versions of ArangoDB write a Location header that does not contain the host and port part but only the path. This change was done to prevent the sort of problems you have, since then it does not matter whether there is a proxy or not. This has been reported as ArangoDB/ArangoDB#1558 and was subsequently fixed. This change happened on Nov 4 2015 and w

[2016-01-14 18:31] solher commented on #17
First of all, thanks for your quick answer.

I can't do a `-p 8530:8529` as I don't want to map the port on my machine.
The point of Docker-gen is to be able to redirect from :80 directly to the IP address of the containers, without mapping them on the host.

The situation is, when I request http://arangodb.foobar.com:80, Nginx proxy passes it to the ArangoDB container on :8529 (as it is the expos

[2016-01-28 17:33] mikestaub opened #18 "docker hub docs out of date, mount path /data"
It looks like the docker hub README still says the mount path is /data when it should be /var/lib/arangodb

https://hub.docker.com/r/arangodb/arangodb/

[2016-02-11 12:25] m0ppers commented on #18
updated :) thank you

[2016-02-11 12:25] #18 closed

[2016-02-22 17:05] jackross opened #19 "docker-compose + persistent data volume (2.8.2+)"
The following `docker-compose.yml` works just fine with **2.8.1**:

[code]

[code]

However, the same `docker-compose.yml` file (changed to point to **2.8.2**) does not work:

[code]

[code]

I am using the latest `docker`, `docker-compose` and `docker-machine` on OSX Yosemite with VMWare Fusion.

[code]

[2016-02-23 13:25] m0ppers commented on #19
Fail! We changed our docker setup for 2.8.2 and are using a dedicated user "arangodb" since 2.8.2. Upon startup we are ensuring proper access (rw) to our data and apps directories. This is currently done using chown. This works properly when using Linux.

When using a Mac there is however one more indirection as the mac has to first share the `apps` directory with the docker machine. A chown from

[2016-02-23 15:05] jackross commented on #19
Who knew the most critical piece of information provided was the very last piece (OS X).  It definitely pays to provide as much info as possible.  Thanks for following up!

[2016-03-02 18:24] jackross commented on #19
@m0ppers  Finally got a chance to play with **2.8.3** today, and I'm still encountering issues, although the issues did change slightly as a result of your changes to the 2.8.3 release.  To recap, using the following `docker-compose.yml`:

[code]

and then running:

[code]

I get the following:

[code]

which, looking through the entrypoint script, seems to make sense...

I should add that I get t

[2016-03-03 09:20] m0ppers commented on #19
I forgot to mention something important. Sorry.

As we are now leaving out any chowns you are responsible to setup proper permissions. In your first attempt you were mounting the apps directory from your local mac. So to make that work you just need to make sure that uid,gid 999 is allowed to write there on your local mac (chmod 777 for the lazy :D).

The data volume however is coming from the tia

[2016-03-03 16:22] jackross commented on #19
Thanks @m0ppers.  That works great, all around.  Appreciate the help!

[2016-03-09 10:04] blindsteal opened #20 "File Permissions (2.8.4)"
When running with `sudo docker run -e ARANGO_RANDOM_ROOT_PASSWORD=1 --name arango -d -p 80:8529 -v ${PWD}/db:/var/lib/arangodb -v ${PWD}/foxx:/var/lib/arangodb-apps arangodb:2.8.4` on CentOS 7 I get some sed-related error:

[code]

Strange thing is, `/etc/arangodb` is not even a volume but on the container fs... I don't really get it, since from reading the Dockerfile I understand it runs as the a

[2016-03-09 14:58] m0ppers commented on #20
no you are not overlooking something. it is simply broken :| sorry for that. Could you recheck with arangodb/arangodb:2.8.4?

2.8.5 is currently on its way. Once it is released it should contain the fix as well.

[2016-03-09 18:18] blindsteal commented on #20
Actually I was using `arangodb:2.8.4` tag already :/
This is sad news, do you know what the reason for this error is? I suspected it was only some mistake in your Dockerfile that's easy to fix (or work around), if you can steer me in the right direction I might even submit a PR...

[2016-03-09 18:21] m0ppers commented on #20
notice that I am speaking of the non official arangodb/arangodb:2.8.4 (as opposed to arangodb:2.8.4) image. The bug is inside the entrypoint. check my commit here:

https://github.com/arangodb/arangodb-docker/commit/4a154ab2f994eefc75531436141f00bf657a1e91

[2016-03-10 09:52] blindsteal commented on #20
Alright so there is another image and you fixed it already... Nice! `arangodb/arangodb:2.8.4` gets the job done :)

[2016-03-10 10:08] m0ppers commented on #20
It is basically the same image - just a different namespace/owner. The official is maintained by the docker library guys and arangodb/arangodb is ours (while using the same Dockerfile). So I could easily update the existing one in our repo ;) no idea how to update the official one but as 2.8.5 is on its way I think there is no need for immediate action in the official repo :) Glad it works!

[2016-03-10 10:08] #20 closed, assigned to nobody

[2016-03-18 07:25] sartaj commented on #19
Hi @m0ppers thanks for the heads up.

Until a better use case is resolved, I'd highly recommend adding instructions on what to do on Docker Hub.

[2016-03-20 21:41] virus2016 opened #21 "Arango cluster in docker"
Hi guys,

Bit of help please. I'm wanting to build an arrango cluster in docker. 10 data nodes and 3 coordinators. Firstly, is this possible? Or I'm I doing something wrong... (Must be the elasticsearch within me)

Thanks in advance

[2016-03-21 10:32] fceller commented on #21
@virus2016 yes, you can build a cluster with different numbers of data nodes and coordinator nodes. We provide different scripts to deploy ArangoDB in the cloud. For details see https://github.com/ArangoDB/deployment

There are scripts to deploy ArangoDB on DigitalOcean, AWS, Azure and Google GCE.

If you want to test a cluster on your local machine, you can follow the instruction given in https:/

[2016-03-21 23:33] virus2016 commented on #21
Thanks Frank!

Is there a way of self discovery like elasticsearch? And do the node only replicate data i.e. each node has the same data on it?

Many thanks,
Calum MacRae

-------- Original message --------
From: Frank Celler notifications@github.com
Date: 21/03/2016 10:32 a.m. (GMT+00:00)
To: arangodb/arangodb-docker arangodb-docker@noreply.github.com
Cc: Calum MacRae cm@mipass.me
Subject: Re: [a

[2016-03-22 09:16] fceller commented on #21
The replication of data depends on your configuration. Normally you would set up a cluster, in which the collections are shared. I. e. each node only contains part of the data. In the standard setup, every shared is stored on two servers for resilience. You could also configure the cluster in such a way, that there is only one shard in which case each server will have the same data on it. What is

[2016-03-22 13:19] virus2016 commented on #21
Hey Frank,

Thanks for spending time messaging me back.

We are currently using Rancher UI which is a docker orchestration tool (Awesome BTW). I am looking to scale for the CPU side. The data isn’t that big.

So let’s make it simple. I am wanting to create 10 “data” and 3 “client” containers. How would I go about doing that purely from the command line i.e. docker run….

Thanks again for your help

[2016-03-23 11:01] fceller commented on #21
I'm not familiar with Rancher UI - to be honest. How does fail-over and restart of failed containers? Is there anything elaborated like Apache Mesos Resource scheduling? Or does it "just" start a number of containers? If so, how are IP addresses of these containers published?

In General: you can start ArangoDB as a bunch of docker containers manually. A good starting point is

https://github.com/

[2016-04-11 08:23] m0ppers opened #22 "Startup an arangod container with initial data"
suggestion by @iamacup on the community channel

useful for application bootstrapping (initial data). import data from a mounted directory.

postgres is doing that:

https://github.com/docker-library/postgres/blob/8e867c8ba0fc8fd347e43ae53ddeba8e67242a53/9.5/docker-entrypoint.sh#L79

downside: more complexity in the dockerfile (while it could easily be implemented in a derived docker image)
upside

[2016-04-11 17:21] iamacup commented on #22
Hi - thanks for making this Mop. It will need a couple of tweeks to be production ready. I think at least:

1) There needs to be a way of specifying all command line options for arangostore(https://docs.arangodb.com/HttpBulkImports/Arangorestore.html), either as part of the docker run command or elsewhere - at th moment this is all hard coded
2) The script that tests for up-time needs to cope for

[2016-04-22 21:42] #17 closed

[2016-05-25 22:20] iamacup opened #23 "The docker image does not seem to work on Kubernetes / GCE as currently specified"
Hi Guys

I have been trying to run the Docker image on Google Container Engine and i have had a bunch of problems.

1) It seems impossible to run the stock image on GCE (and i presume any Kubernetes powered environment) when you attach a long-term storage to it - example on GCE would be starting a container like this:

[code]

with the volumes defined as

[code]

Trying to start a container like t

[2016-05-27 15:22] m0ppers commented on #23
I understand your frustration and I hope I have just commited some stuff that addresses most of your issues:
1. The history of this thing is as follows. Initially we did a chown as mysql/postgres are doing. We (I) converted it to this strange rwcheck thing because of docker on mac. Some users wanted to mount foxx apps from their mac into the docker container (which is a perfectly valid usecase). T

[2016-06-01 05:52] m0ppers commented on #23
The new "native" docker does indeed fix the chown problem :D I think we are done here. Need to discuss with the team about a backport to 2.x as 3.x is very very close

[2016-06-01 05:52] #23 closed, assigned to nobody

[2016-06-16 08:40] maku opened #24 "using on windows with volume definition"
I would like to use arangodb-docker on an Win7-64 machine. e.g. with the following command

docker -e ARANGO_NO_AUTH=1 run -p 8529:8529 -v /DB/arangodb:/var/lib/arangodb arangodb

But I get the following error:

`We seem to not have proper rw access to /var/lib/arangodb. Please make sure that every mounted volume has full rw access for user arangodb (uid=999(arangodb) gid=999(arangodb) groups=999(

[2016-06-16 12:37] dothebart commented on #24
have a look at: https://docs.arangodb.com/cookbook/Cloud/DockerContainer.html#persistent-data

[2016-07-09 17:39] eyesee1 opened #25 "location of Foxx apps"
Looks like arangodb is actually putting its Foxx apps at `/var/lib/arangodb3-apps`, not `/var/lib/arangodb-apps3` -- and the dir they are actually in is not shared to the host OS. (Makes working on Foxx apps pretty annoying -- have to manually zip and then upload through the web UI after each change.

Here's my Kitematic screen:

![screen shot 2016-07-09 at 12 36 13 pm](https://cloud.githubusercon

[2016-07-11 13:33] m0ppers commented on #25
wow embarassing :flushed:

Thanks for reporting.

will be fixed with the next (3.0.3) release. The correct one is `/var/lib/arangodb3-apps`. I don't really know about kitematic but I guess you can override the volumes (probably the change button should reveal that functionality)?

On the command line you would simply add another volume like so:

`docker run -v ~/apps:/var/lib/arangodb3-apps -e ARA

[2016-07-11 13:33] #25 closed, assigned to nobody

[2016-07-12 07:21] m0ppers commented on #22
fixed since 3.0

[2016-07-12 07:21] #22 closed, assigned to nobody

[2016-08-12 14:45] virus2016 commented on #21
Hey Frank,

Now that 3.0 is out, is there away to create a cluster from the docker image?

Cheers,
Cal

[2016-08-17 07:29] dothebart commented on #21
Hi @virus2016,
We have added a tiny howto setup a temporary Mesosphere docker cluster with Mesosphere:

https://github.com/arangodb/arangodb/blob/devel/README_maintainers.md#arangodb-on-mesos

(please note that this is a temporary instance, which will vanish if you terminate the controlling process, but it should serve well how to get started)

[2016-09-08 23:43] virus2016 commented on #21
Hi @dothebart,

I've used the mesos setup but I'm looking to try and simplify this deployment. Our customers will not run Mesos...

I'm I right in thinking that each role should be a separate container in docker? DBServer, agency and coordinator? If so, can't we just do docker run x3 and what commands would they be?

Cheers,

[2016-09-09 08:38] dothebart commented on #21
Hi @virus2016, meanwhile we used the time to finish the documentation for the cluster setup:
https://docs.arangodb.com/3.0/Manual/Deployment/index.html
Please note that i.e. automatic failover is implemented by mesosphere, which you will have to do by hand if you roll your own.

[2016-09-21 17:21] lavvy commented on #21
Hey can't this be deployed with docker swarm?

[2016-10-30 23:56] virus2016 commented on #21
Another quick question, could someone create a docker-compose file for deployment of a cluster? That would help!

Cheers,
Cal

[2016-11-19 17:57] sandrokeil opened #26 "version 3.1.1 not starting"
The following error occurs if I run `docker run -e ARANGO_RANDOM_ROOT_PASSWORD=1 -d --name arangodb-instance arangodb:3.1.1`:

[code]

Version 3.0 and 3.1.0 are working. Any ideas?

[2016-11-19 17:58] fceller commented on #26
Will try to reproduce.

[2016-11-19 18:38] fceller commented on #26
@sandrokeil that seems to be some very strange timing problem plus a bug in 3.1 entry script, which is sometimes triggered.

I've create a fix. Could you test

`docker run -it -e ARANGO_RANDOM_ROOT_PASSWORD=1 arangodb/arangodb:3.1.1`

before I push it to the official lib?

[2016-11-19 19:00] sandrokeil commented on #26
@fceller I've followed the instructions in readme but I can't build the image. I get a 404 error

[code]

**EDIT:** I've forgotten to set the version.

[2016-11-19 19:01] fceller commented on #26
@sandrokeil you should be able to just execute (without building):

docker run -it -e ARANGO_RANDOM_ROOT_PASSWORD=1 arangodb/arangodb:3.1.1

[2016-11-19 19:25] sandrokeil commented on #26
@fceller Bad news. I used `Dockerfile31.templ` but If I start the container with `docker run arangotest` I get this error:

[code]

[2016-11-19 19:26] fceller commented on #26
@sandrokeil Either use

[2016-11-19 19:27] sandrokeil commented on #26
@fceller Your command works.

[2016-11-19 19:27] fceller commented on #26
@sandrokeil great. Will try to get the official build updated on Monday.

[2016-11-21 11:01] dothebart commented on #26
I've sent the PR; it will probably get merged this afternoon.

[2016-11-22 08:43] dothebart commented on #26
Merge is done, the docker library points to a working container version again.

[2016-11-22 08:43] #26 closed, assigned to dothebart

[2016-12-05 23:23] virus2016 commented on #21
@fceller Can you help?

Cheers,

[2016-12-06 08:32] dothebart commented on #21
we currently have https://github.com/arangodb/arangodb-mesos-docker - maybe that would be a good starting point for you? Since we don't exactly know whats expected there you would need to help us out here. If you want more interactivity to solve this, maybe join our slack channel so we can discuss this further how you could solve this?

[2016-12-06 08:32] fceller commented on #21
Hi @virus2016 if you stay with us a little time longer, I think we can just do these things very easily. We are currently streamlining the boot process considerably so that starting in a non-mesos environment becomes almost trivial.

[2016-12-07 02:21] virus2016 commented on #21
Thanks guys, this will really help us! In the meantime, here is my docker-compose. Can you have a look over it and see if I am doing the compose right?

`version: "2"

services:

    agency:
        image: arangodb/arangodb
        environment:
            - ARANGO_NO_AUTH=1
        command: arangod --server.endpoint tcp://0.0.0.0:5001 --server.authentication false --agency.activate true --agency.

[2016-12-07 10:40] neunhoef commented on #21
I am starting to look now. Initial observation: I think your problems might be related to Docker/port issues. I do not know docker-compose too well, but as far as I see, your agency entry does not make sure that the agency is visible on port 5001 outside its docker container. I will experiment to find out.

[2016-12-07 10:51] neunhoef commented on #21
The agency should work provided you forward port 5001 to outside the docker container, either by adding `ports: ['5001:5001']` or specifying the equivalent for docker-compose of `--net=host`.

[2016-12-07 11:11] neunhoef commented on #21
I think I withdraw all my comments. Here is the file `docker-compose.yml` which I have used and which works for me: https://gist.github.com/neunhoef/1620c6c50e84a12be2b476bed419c644
This is essentially your file, I was doing `docker pull arangodb/arangodb` first to make sure I use version 3.1.3. It immediately worked for me. What problems did you have?
I use the following versions on Ubuntu 16.04:

[2016-12-07 21:17] virus2016 commented on #21
@neunhoef sorry yes it does work but I wasn't clear. I guess I was asking @fceller if that is the best way today to create the cluster. If it is I think you should commit that to the documentation as I'm sure others will have similar issues with this.

[2016-12-07 22:04] neunhoef commented on #21
I think this setup is all right. It is good that only the coordinator ports are exposed on the host's main interface. I like that the others find themselves by using docker-composes' name lookup. Obviously, as docker-compose, it only works on a single machine, but for testing this is sensible. I will suggest to put this as an additional section in the Deployment chapter of the manual, because I th

[2016-12-08 01:15] virus2016 commented on #21
@neunhoef I am having some issues with the cluster in docker. Maybe you can point me in the right direction.

I am running the following:

    version: "2"
    services:

        agency:
            image: arangodb/arangodb
            environment:
                - ARANGO_NO_AUTH=1
            command: arangod --server.endpoint tcp://0.0.0.0:8529 --agency.my-address tcp://agency:8529 --server.aut

[2016-12-12 00:12] virus2016 commented on #21
Ill wait until Frank comes back to me. Thanks guys!

[2016-12-21 20:31] fceller commented on #21
@virus2016 please check https://www.arangodb.com/2016/12/starting-arangodb-cluster-easy-way/

[2017-01-03 00:22] lucklo opened #27 "Docker build of Arango 3.1.7 don't provide graph preview toolbars (left and top)"
Using docker builds of arango 3.1 left and top bar utitlities are missing.
See [http://i.imgur.com/g3JlN96.png](http://i.imgur.com/g3JlN96.png)

Installed both 3.1.1 and 3.1.7 (latest) with same effect using:
`docker run --name arangodb311 -p 8529:8529 -e ARANGO_ROOT_PASSWORD=root arangodb/arangodb:3.1.1`

Graph modeling UI is significantly different in 3.1.* builds.
Documentation doesn't include

[2017-01-03 09:04] dothebart commented on #27
One of the big new features in 3.1 is the new graph viewer which presumably scales better to graphs with more nodes.
However, as you found out we forgot to add to document it!
The new graph viewers options pane can be opened in the upper right when clicking on the icon with the 3 vertical bars.

@hkernbach will fix the documentation.

[2017-01-03 10:58] weinberger commented on #27
@lucklo My mistake. I have 3.0 installed. If you choose canvas then you have similar functionality if you make a right click on a vertex. Sorry for that.

[2017-01-03 14:17] hkernbach commented on #27
Thanks. Documentation is now updated (source code - https://github.com/arangodb/arangodb/commit/157c2067655d61b36edfa2700354aee1bb334545). This will be also updated @ https://docs.arangodb.com/devel/Manual/ in a few days and also in the official documentation when a new bugfix release will be available.

[2017-01-03 14:17] #27 closed, assigned to hkernbach

[2017-01-04 16:17] dothebart commented on #27
@lucklo https://docs.arangodb.com/devel/Manual/Administration/WebInterface/Graphs.html has been updated and now shows @hkernbach edits.

[2017-01-05 14:08] lucklo commented on #27
@dothebart @weinberger @hkernbach Thank you, it looks great!
Are there any plans for some Video Tutorials for this new UI - that would be awesome addition for beginners!

[2017-02-10 10:04] bard opened #28 "Installing Foxx service from GitHub fails"
Installing a service from GitHub using the web interface fails silently.

The log says:

[code]

Perhaps a problem with certificates, because this (`d9b609c73057` being the id of the arangodb container):

[code]

Results in this:

[code]

[2017-02-10 10:16] bard commented on #28
`apt-get update && apt-get install ca-certificates` in the container fixed it.

[2017-02-10 10:17] dothebart commented on #28
which container do you use?

[2017-02-10 12:16] bard commented on #28
https://hub.docker.com/_/arangodb/ (pulled yesterday)

[code]

[2017-02-10 12:43] dothebart commented on #28
Hm,
one of the template steps is:
[code]
So, do you get the certificate package as an update? So basically 'apt-get update; apt-get upgrade' ?

[2017-02-10 13:07] bard commented on #28
No, I have to install the package explicitly.

Here's a session transcript on a freshly pulled container:

[code]

[2017-02-22 07:45] stephanwilliams opened #29 "Connection refused when running JavaScript files on server init"
I'm using Docker 1.13.1 on Mac OS X 10.11.6.

I have a Dockerfile that derives from the arangodb 3.1.11 image and `COPY`s a JavaScript file into /docker-entrypoint-initdb.d so it'll be run when the database is initialized. However, I get the following error when the script runs:

[code]

The error is thrown from the first function call that tries to talk to the database, in my case `db._createData

[2017-03-03 09:10] christianhuening commented on #23
Hi folks, you say this problem is fixed, but I can't start ArangoDB on Kubernetes backed by docker 1.13.1 with a volume mounted from an NFS storage. Is this due to me using NFS based storage or is the problem sitll around?

[2017-03-03 09:18] dothebart commented on #23
do you think its a clever idea to run a database on an NFS storage in first place?

[2017-03-03 09:29] christianhuening commented on #23
Nope! But atm we don't have another opportunity.

[2017-03-03 09:40] dothebart commented on #23
you need a local filesystem for the arangodb data files. Its using mmap to access them, and I don't think that this is supported by the kernel on NFS.

[2017-03-03 09:41] christianhuening commented on #23
alright thanks!

[2017-03-09 09:50] bard opened #30 "Updating while preserving data"
I'm trying to update from image 5aa989580ba8 (four weeks ago) to image 665c17ea4dfd (two days ago).

In the previous image, I had these mappings:

- `/var/lib/arangodb3` → `/var/lib/docker/volumes/c3adfff834557674644bcd0f96fe9e5d2d69cf2a78074a6c2cc980ecaa53b906`
- `/var/lib/arangodb3-apps` → `/var/lib/docker/volumes/2862a7bfcd63b03c8cdc6bef41fa446656b32ab323868d74270e7a8eb09d0307`

Do I need to do

[2017-03-09 09:52] dothebart commented on #30
any feedback in `docker logs <containerid>` ?

[2017-03-09 10:00] bard commented on #30
None that I could see...

[code]

(Note, differently than my transcript above this one was started with ARANGO_NO_AUTH=1)

(Edit: was output of `docker run`; `docker logs` shows two extra lines at the top)

[2017-03-09 10:05] bard commented on #30
Sorry, that was the output of `docker run`. `docker logs` shows two more lines at the top:

[code]

[2017-03-09 10:12] dothebart commented on #30
have you tried logging into the webinterface?

[2017-03-09 10:14] bard commented on #30
Yes, no trace of databases other than `_system` at http://localhost:8529/_db/_system/_admin/aardvark/index.html#login

[2017-03-09 10:15] bard commented on #30
I'm now convinced that problem must exist somewhere between keyboard and chair, though not yet sure where, because even restoring /var/lib/docker/volumes from my backups and creating a container from the previous image, databases aren't available.

[2017-03-09 10:17] dothebart commented on #30
can you revalidate whether any of these /var/lib/docker directories contain structures like...
[code]

[2017-03-09 10:27] bard commented on #30
[code]

Data appears to be there, too ("content:table" is a string my app was using):

[code]

However I just found:

[code]

And:

[code]

Could this be happening because of a corrupt log file?

[2017-03-09 10:32] dothebart commented on #30
ah, the experimental filesystem - sorry, we don't support btrfs. Its known not to work well with arangodb.

[2017-03-09 10:36] bard commented on #30
Ok, that's good to know. For what it's worth, removing journals doesn't change the outcome.

Is there a tool that can dump databases for later re-importing without passing through the server?

[2017-03-09 10:42] dothebart commented on #30
you can try to run arangod  with `--wal.ignore-logfile-errors true ` or/and  `--database.ignore-datafile-errors true`
You should then be able to dump the working parts

[2017-03-09 12:37] bard commented on #30
Unfortunately, the corrupt journal wasn't the culprit, running with those options doesn't expose any data. (Fortunately, it wasn't production data.) I'll keep the databases around in case I can investigate further.

[2017-03-20 13:48] kapolos opened #31 "Allow password from file"
Feature request: Add a new variable `ARANGO_ROOT_PASSWORD_FILE` that allows for the password to be passed in as a file.

Reason: Enables better secrets management by orchestration tools.

Example of others doing it: The official MySQL docker image.

The change should be as simple as adding

[code]

immediately before: https://github.com/arangodb/arangodb-docker/blob/official/docker-entrypoint.sh#L

[2017-04-03 16:46] igaln opened #32 "Building default Docker.local fails"
getting a 404 when running hooks on ca-certificates

Resolving www.arangodb.com (www.arangodb.com)... 85.214.140.94
Connecting to www.arangodb.com (www.arangodb.com)|85.214.140.94|:443... connected.
HTTP request sent, awaiting response... 404 Not Found
2017-04-03 16:45:02 ERROR 404: Not Found.

The command '/bin/sh -c apt-get update &&     apt-get install -y --no-install-recommends         libgoo

[2017-04-03 17:20] dothebart commented on #32
Whats the actual complete URL?

[2017-05-17 07:05] ghost commented on #32
Package URL construction seems off, there is not just **@VERSION@** to change, but also **@REPO_TL_DIR@**? I am using `Dockerfile31.templ` here but since it is possible to set the version in the dockerfile, I do not understand why there are dockerfiles by version.

How would I have it output the requested URL?

The error for me:
[code]

[2017-05-17 07:13] ghost commented on #32
the @VERSION@ should be in the format 3.1.20

versions to pick from
https://www.arangodb.com/repositories/arangodb31/Debian_8.0/amd64/

[2017-05-17 07:40] dothebart commented on #32
@Thijxx  Its `.templ` since its intended to be processed by `addversion.sh` and to be put into `jessie/3.1.20/Dockerfile`.

Its the layout the docker library recommends.

[2017-05-17 07:42] dothebart commented on #32
@igaln since the .local file is intended to use a copy of a local docker file that comes right out of the build process it doesn't verify any signatures. Therefore I've removed the signature check, this should work now.

You should use the `DockerfileN.local` matching your release branch - N="" -> 2.8; N = 3 -> 3.0; N = 31 => 3.1; N = 32 -> 3.2 (currently devel/alpha)

[2017-05-17 07:49] ghost commented on #32
great, thanks

[2017-05-17 07:59] dothebart commented on #31
Sorry - for some reason I've overlooked this. It will be part of the arangodb 3.1.21 release in the next weeks.

[2017-05-17 10:05] dothebart commented on #29
Yes, you're perferctly right!
I've fixed it along the lines you've sugested, and added tests so we will find out if it breaks in future.

[2017-05-17 11:53] dothebart commented on #30
Any news on this? or can we close it?

[2017-05-17 12:38] #28 closed, assigned to nobody

[2017-05-17 12:53] #24 closed, assigned to nobody

[2017-05-17 12:57] dothebart commented on #21
The now recommended way to launch clusters is using the ArangoDBStarter - please see https://github.com/arangodb-helper/arangodb - it also supports using this docker container.
If any more questions arise, feel free to open another ticket or on the starter repository.

[2017-05-17 12:57] #21 closed, assigned to neunhoef

[2017-05-17 12:58] #32 closed, assigned to nobody

[2017-05-17 13:00] dothebart commented on #19
https://hub.docker.com/_/arangodb/ mentions this under "persistant data"

[2017-05-17 13:00] #19 closed, assigned to m0ppers

[2017-05-18 08:17] dothebart commented on #31
Its merged - so a new 3.1.20 docker image will contain this feature.

[2017-05-18 08:17] #31 closed, assigned to nobody

[2017-05-18 08:18] dothebart commented on #29
It has been merged, so a new 3.1.20 issue on the docker library will contain this fix. Thanks for reporting.

[2017-05-18 08:18] #29 closed, assigned to nobody

[2017-05-23 09:01] bard commented on #30
No news, sorry, I wasn't able to recover any data or figure out the problem.

[2017-06-26 10:03] farshadahmadi opened #34 "How to Run ArangoDB Container on Openshift Container Platform"
I am trying to run the ArangoDB container on Openshift platform. It throws the following error:

`chown: changing ownership of '/var/lib/arangodb3': Operation not permitted`

I know it is not your problem and Openshift guys should provide it, but have you guys thought about providing a container that can also run on Openshift platform?

FYI. I also wrote about this request on stackoverflow (https:

[2017-07-09 16:56] webmobiles commented on #22
on a mac i have similar error, I've followed the installation guide on arangodb site:

[code]

[2017-07-12 13:28] GillesBodart commented on #22
On a debian 9 I've the same issue

 docker run -p 8529:8529 arangodb/arangodb:3.1.24
Unable to find image 'arangodb/arangodb:3.1.24' locally
3.1.24: Pulling from arangodb/arangodb
5040bd298390: Pull complete
5153f9ee24e2: Pull complete
b050383580c3: Pull complete
36b72103d51f: Pull complete
883ee75e86be: Pull complete
0855a96205ed: Pull complete
Digest: sha256:d73badb54c0ccbcdb92e59ad340c7a2d5213a

[2017-08-26 17:08] jfrancisco-neto opened #35 "Unable to mount volumes using both Docker and Docker-Compose"
Tryed to run the arangodb using both docker and docker-compose and only docker. But i got this message:

**FATAL unable to initialize RocksDB engine for persistent indexes: IO error: directory: Invalid argument**

The command that i used to run the docker directly was:

`
docker run -e ARANGO_ROOT_PASSWORD=somepass -p 8529:8529 -v my-absolute-path/db:/var/lib/arangodb3 -v my-absolute-path/apps:/va

[2017-08-28 07:43] dothebart commented on #35
could this be a duplicate of https://github.com/arangodb/arangodb/issues/2749 - ?

[2017-08-28 23:25] jfrancisco-neto commented on #35
I think so... Apparently mounted volumes, shared folders, of linux containers in windows is made using SMB and the arangodb doesn't support it. Am i right ? It's not a permission issue, i can run bash and modify the content of the folder previously mounted without any issue/warning or error.

References:

1 - Mounted volumes in windows using SMB: https://github.com/docker/docker.github.io/blob/mas

[2017-08-29 08:16] dothebart commented on #35
Yes, smb is not supported - in the end it doesn't make much sense to run a database on a network filesystem.

Can you test whether mounting an upper container as storage volume works?

[2017-08-29 12:18] jfrancisco-neto commented on #35
If i just run the arangodb wihout mounting anything the contents are persisted between container executions. So yeah... it will probably work. What should be done, in the docker hub arangodb page, is to make clear that using mount volumes with arangodb databases will not work on docker container. Any way, thanks for the clarification :)

[2017-08-30 20:17] #35 closed, assigned to nobody

[2017-09-14 01:34] davidmw opened #36 "RocksDB Host Directory folder appears with mmfiles engine"
After starting arangodb from the docker image, with a host directory configured on the command line (directory did not exist), and confirming that Community Edition is running with mmfiles as the engine (Web Interface) - this is the contents of my host directory on OSX:

![screen shot 2017-09-14 at 11 22 05 am](https://user-images.githubusercontent.com/3413901/30408051-bcbeb346-993f-11e7-81c4-2870

[2017-09-14 08:05] dothebart commented on #36
The MMFiles engine has an index type called [`persistent index`](https://docs.arangodb.com/3.2/Manual/Indexing/Persistent.html) which is implemented on top of rocksdb. So unless you create such an index, this database will remain empty, but is still required.

[2017-09-15 12:00] davidmw commented on #36
Thanks much.

[2017-09-15 12:00] #36 closed, assigned to nobody

[2017-09-16 11:55] vicaba opened #37 "Which is the default user of this image?"
Which is the default user of this image?  I can find password infurmation but nothing related to the default user.

[2017-09-18 07:47] dothebart commented on #37
Hi, the default user is 'root' as general for arangodb.

[2017-09-19 11:19] vicaba commented on #37
Thanks, it worked. I am closing this issue then.

[2017-09-19 11:19] #37 closed, assigned to nobody

[2017-10-10 12:18] de-code opened #38 "Error when specifying a storage engine (rocksdb)"
I'm trying to use another storage engine, RocksDB. I'm passing:
`--server.storage-engine rocksdb`

Which results in:
[code]

Which is I believe because that argument is not passed through when the database is initialised:
https://github.com/arangodb/arangodb-docker/blob/4f5bb422c58f7d7e8f3477470fbabe8253c3fdae/jessie/3.1.8/docker-entrypoint.sh#L41-L46

[2017-10-10 15:20] dothebart commented on #38
Hi,
you have to pass the environment variable `ARANGO_STORAGE_ENGINE` with the content `rocksdb` to start an instance with rocksdb.

[2017-10-10 15:31] dothebart commented on #34
As you found https://github.com/openshift/origin/issues/6282 it seems its currently not supported.

In doubt you can try to start your own dockerfile, remove all that chown etc. logic, and run the arangod as root. But I don't see any way how we could support you here.

[2017-10-10 16:00] de-code commented on #38
Thank you. That seem to work.

It doesn't seem to be documented?
The docker image documentation itself refers to the following command for the supported options:
https://hub.docker.com/_/arangodb/
[code]
Might be worth updating it?

[2017-10-10 16:32] dothebart commented on #38
https://github.com/docker-library/docs/pull/1037 yes.
;-)

[2017-10-10 16:32] #38 closed, assigned to nobody

[2017-10-31 17:15] gontard opened #39 "Add HEALTHCHECK to check if the service is started"
The instruction [`HEALTHCHECK`](https://docs.docker.com/engine/reference/builder/#healthcheck) allows to check container health by running a command inside the container.
It could also be used by docker-compose to [wait for another container to be “healthy” ](https://docs.docker.com/compose/compose-file/compose-file-v2/#healthcheck).

Do you think it could be added in the arangodb Dockerfile ?

[2017-11-07 15:45] dothebart commented on #39
Hi,
we're actually not all sure what would be the best way to implement this.

the default way would be `curl http://127.0.0.1:5829/_api/version` - However we don't know the authentification (if single server) or whether its a TLS enabled endpoint.

Next possible way would be to query `http://127.0.0.1:8529/` and expect the redirect into aardvark. However this still doesn't know how to switch from

[2017-11-08 08:31] gontard commented on #39
Hello,

thanks for your reply. I have been searching for a while how to ensure arangodb is "healthy". I found theses discussions:

- https://github.com/arangodb/arangodb/issues/1506
- https://groups.google.com/forum/#!topic/arangodb/q1UmmpKg2hk

But nothing seems really reliable.

[2017-11-08 09:44] dothebart commented on #39
Hi,
the first approach has the disadvantage you need to install a foxx-service, which wouldn't be on board by default. and definitely not working if the container is used as a cluster node.
The second has the problem, as noted above, that it may not accessible due to authentification.

[2017-11-08 11:21] gontard commented on #39
Yes you are right.
Is there any plan to add an API endpoint in arangodb to check the database status ?
The issue  https://github.com/arangodb/arangodb/issues/1506 have been closed even if the provided solution rely on a user defined foxx-service.

[2017-11-23 18:25] haseebnaseem commented on #21
@fceller You mentioned kubernetes support in you comment. I know it has been a while so I was wondering If there is some official support for kubernetes right now.

[2017-11-23 20:32] haseebnaseem commented on #38
facing the same issue while deploying on kubernetes using the docker image. Setting the environment variable does not resolve the error.
[code]

[2017-11-24 09:53] dothebart commented on #21
Hi @haseebnaseem - please have a look at this screencast by our community member @sbaugher https://www.arangodb.com/tech-talks/

[2017-11-24 10:45] de-code commented on #38
@haseebnaseem did you clear the data after changing the storage engine?

[2017-11-24 10:59] haseebnaseem commented on #38
@de-code yes. Fresh install.

[2017-11-24 11:31] dothebart commented on #38
@sbaugher can you have a look at this?
@haseebnaseem we have seen cases where docker wouldn't pass on the password environment variable into the containers until you'd purge the container and re-download it

See these github issues:
https://github.com/arangodb/arangodb/issues/3074 https://github.com/arangodb/arangodb/issues/2712

[2017-11-24 11:34] dothebart commented on #38
As an additional workaround you could try to specify it as commandline argument - `--server.storage-engine rocksdb` - see https://github.com/arangodb/arangodb/issues/3634 for more details.

[2017-11-24 12:46] haseebnaseem commented on #38
@dothebart I am doing both of these things. Will share the configuration files as well if you want.

[2017-11-24 12:58] dothebart commented on #38
Do you mount in `/var/lib/arangodb3` from a storage volume that keeps state across restarts from docker engines? Does that keep the data from the previous run with the other storage engine?

[2017-11-24 13:37] haseebnaseem commented on #38
I deleted the previous installation and did a fresh install. Here is the config file:
[code]

[2017-11-24 14:45] dothebart commented on #38
1) can you check in any way whether these volumes you mount are empty?
2) you need to start all nodes (the agents too) in rocksdb mode.

[2017-11-24 19:58] haseebnaseem commented on #38
@dothebart I am starting all the nodes with rocksdb mode. I can't check if they are empty because the container doesn't start due to the fatal error so no way to access the shell but since the container does recognize the "rocksdb" mode as seen in the `choosing rocksdb as the storage engine` echo from the container, it doesn't seem to be the case.

[2017-11-27 09:13] dothebart commented on #38
Please open a new issue with your previous post. and all your findings combined.

[2017-11-28 09:20] haseebnaseem opened #40 "Error using rocksdb as the storage engine with Kubernetes"
Deploying arangodb on kubernetes using the following deployment config file:
[code]
The following error appears when the container starts:
[code]

[2017-11-28 09:21] haseebnaseem commented on #38
@dothebart created #40

[2017-12-05 08:58] adamstallard opened #41 "bundled chai module fails due to missing file"
version 3.2.9 (and 3.2.8) have this issue.  I haven't tried other versions.

If you `require('chai')` in a foxx test file you will get this error in the arango logs

[code]

The file referenced in `chai/lib/chai.js:78` (./chai/interface/expect) is missing:

[code]

there is no expect.js

[2017-12-27 13:11] haseebnaseem commented on #40
@dothebart Any updates on the error ?

[2018-01-03 14:41] dothebart commented on #40
Hi,
sorry didn't find the time to wrap my mind around kubernetes yet.
You need to make sure that the mountpoint for the database directory doesn't contain a mmfiles database already.
On other github issues users found their problems fixed after flushing their `/var/lib/docker` directory.

[2018-01-14 04:56] weiklr opened #42 "docker image couldn't run entrypoint.sh"
Hi,

i tried to build a arangodb image using dockefile33.local and couldn't run the image after building it.

I realize you need to update the execution rights to make it work in the dockerfile after copying the entrypoint.sh with: chmod +x /entrypoint.sh

[2018-01-16 14:02] dothebart commented on #42
Hi,
the file has an execute flag inside of the git repo; which is why this is "works for me" ;-)

Do you use a host that can't provide these flags?

[2018-01-18 13:53] jbguillois opened #43 "Authentication is always disabled, how to enable it?"
I am starting arangodb docker image with docker-compose on my mac:
[code]

Arangodb starts properly:
[code]
The docker image is working fine for my dev and CI environments.
My problem is regarding the authentication. I enabled the authentication by setting "ARANGO_NO_AUTH=0" in my docker-compose. The logs (see above) are saying it is still not enabled and when accessing the Arangodb Web UI (on loc

[2018-01-18 14:24] dothebart commented on #43
Hi,
this issue seems to arise often to users that docker doesn't forward the environment variables.
All previous combatants ended up deleting `/var/lib/docker` and start over from a fresh environment.

[2018-01-18 14:38] jbguillois commented on #43
@dothebart you mean /var/lib/docker on the host? in the arangodb vm? in the docker internal vm?
I don't have any /var/lib/docker on my MacOS file system...
Thank you for your help,

[2018-01-18 14:41] dothebart commented on #43
in the docker machine vm most probably - I don't know much about macs and howto run docker on them.

[2018-01-21 08:30] weiklr commented on #42
hi, you are right. I downloaded the file manually and didn't do a git clone. perhaps that's why the file doesn't have the execute flag

[2018-01-22 09:52] dothebart commented on #42
Ok, I'd like to close this then.

[2018-01-22 09:52] #42 closed, assigned to nobody

[2018-01-23 14:10] jbguillois commented on #43
Thank you @dothebart but I am not sure how to get access to the internal of my Docker VM. I will post back here if I find any way of doing this on Mac.

[2018-01-27 08:25] #40 closed, assigned to nobody

[2018-01-27 08:28] haseebnaseem opened #44 "Error when starting container with rocksdb"
Environment: Kubernetes
Running as a cluster, the following error is thrown and the container fails to start.
`FATAL {startup} unable to initialize RocksDB engine: IO error: No space left on device/var/lib/arangodb3/engine-rocksdb/000304.sst: No space left on device; Maybe your filesystem doesn't provide required features? (Cifs? NFS?)`

[2018-02-26 05:01] nkanand4 opened #45 "Port customization does not work."
Trying to customize Arango instance port to something other than 8529 does not work.
<img width="1306" alt="screen shot 2018-02-25 at 10 55 21 pm" src="https://user-images.githubusercontent.com/667996/36654105-d8458e66-1a7f-11e8-8a20-f232979d48fc.png">

[2018-02-26 09:50] dothebart commented on #45
Hi,
you can modify the bind port inside the container via environment variables. please have a look at https://hub.docker.com/_/arangodb/

`-p` only creates a portforward from inside of the docker container to the outside world.
You can however use this to map the default port `8529` to `8888` like this: `-p 8529:8888`

[2018-02-26 16:21] nkanand4 commented on #45
I was able to use the --server.endpoint option to customize it to use a different port. However, I noticed that it is accessible from within the container but not outside. Not sure what is interfering now. Help is much appreciated. <img width="1419" alt="screen shot 2018-02-26 at 10 07 11 am" src="https://user-images.githubusercontent.com/667996/36681529-79659b84-1ade-11e8-9eba-1047884cfed7.png">

[2018-02-28 12:14] chainlink opened #46 "Data Directory Wrong on Dockerhub"
The Data Directory on `3.3.3` has been changed to `/var/lib/arangodb3` from `/var/lib/arangodb` as specified in all the docs on dockerhub. Where can I file a PR to update this?

ref: https://hub.docker.com/r/arangodb/arangodb/

[2018-02-28 12:33] dothebart commented on #46
oh, this has been changed with arangodb 3.0 - so we need to update that documentation asap.

[2018-02-28 12:36] dothebart commented on #46
ok, in fact we need to re-sync it with https://hub.docker.com/_/arangodb/

[2018-02-28 12:43] dothebart commented on #46
done, thanks for reporting.

[2018-02-28 12:43] #46 closed, assigned to nobody

[2018-02-28 15:21] chainlink commented on #46
Thanks for the quick response! Curious as to why there is `/arango` and `arango/arango` on dockerhub?

[2018-02-28 15:28] dothebart commented on #46
Hi,
both are maintained via our release process.
However, the `_` version is the official docker library version, which requires upstream to accept a pull request.

Historically the arangodb/arangodb version was there first, so we kept it around.

[2018-03-26 08:55] dothebart commented on #34
Hi,
as upstream doesn't seem to care about this issue I can't help but close this now.
If you get upstream to care about this issue, feel free to comment / reopen.

[2018-03-26 08:55] #34 closed, assigned to nobody

[2018-04-13 14:13] dothebart commented on #45
I can only repeat myself - you [have to forward the port into the docker container via the docker commandline arguments](https://stackoverflow.com/questions/32070789/portforwarding-from-within-docker-container)

[2018-04-13 14:25] nkanand4 commented on #45
I think you might have missed to note that from my later screenshot that I have done that already. I have customized it to run on a different port. That's how I am able to curl from within container. Also exposed that port and done the binding. Please note that in screenshot.

[2018-04-13 14:32] dothebart commented on #45
Sometimes docker fails to set the firewall routing rules for containers. Restarting Firewalls and docker deamon and in doubt the full system usually fixes that.
Please don't use screenshots, cut'n'paste doesn't work with these. Use tripple-backticks instead to blockquote cut'n'paste content.

[2018-04-14 13:54] nkanand4 commented on #45
This totally makes sense. Let me give it a try and I will update this post. Thanks.

[2018-04-27 11:20] haseebnaseem opened #47 "1478 - ERROR_CLUSTER_BACKEND_UNAVAILABLE"
I am running arangodb cluster on kubernetes on AWS. One error frequently occurs in the cluster that does not get solved unless all of the pods are restarted. The error message is `1478 - ERROR_CLUSTER_BACKEND_UNAVAILABLE `. We have not been able to reproduce the error to get to the cause of the error.

[2018-04-27 12:16] dothebart commented on #47
Hi,
did you already try https://github.com/arangodb/kube-arangodb ?
https://arangodb.com/2018/03/arangodb-operator-kubernetes-stateful-cluster-deployments/ has the details on how to work with it.

[2018-04-27 12:20] haseebnaseem commented on #47
I did have a look at it but the doc itself said not ready for production
use so that ruled it out.

On Fri, 27 Apr 2018, 17:16 Wilfried Goesgens, <notifications@github.com>
wrote:

[2018-04-27 13:48] dothebart commented on #47
I guess then you should switch to DC/OS instead.

[2018-04-27 13:53] haseebnaseem commented on #47
Is this a known bug ?

[2018-04-27 14:19] dothebart commented on #47
Hi,
if you want to have a resilient cluster setup, you can achieve that in DC/OS. This is pretty well tested and confirmed to be working stable. If instances fail, they're restarted properly etc. Upscaling and all that works properly. DC/OS templates are well available for AWS. ArangoDB can be installed via the DC/OS Appstore.

If you don't want to use DC/OS the next supported way is using the Ara

[2018-05-01 18:12] gkarthiks commented on #47
Hi, I've opened an issue for the OpenShift cluster deployment.
https://github.com/arangodb/kube-arangodb/issues/128

Is there any other workaround for cluster as of now? Appreciate any helps.

[2018-05-02 08:19] dothebart commented on #47
Hi,
Openshift tends to behave different in some situations, which are incompatible with docker.
They have closed bugs about these differences "because of nobody cared".

Thus I can't recommend using openshift.

[2018-05-02 14:33] dothebart commented on #41
Hi, we have fixed this with the release of ArangoDB 3.3.8; once https://github.com/docker-library/official-images/pull/4300#issuecomment-385548603 has been merged it will be available on the official docker library image; the `arangodb/arangodb` image is already available.

Closing this now.

[2018-05-02 14:33] #41 closed, assigned to nobody

[2018-05-02 17:30] gkarthiks commented on #47
@dothebart  Agree, that OpenShift is different from any other cluster. But in our company, we are using only OpenShift. 😞

Please let me know if there's any progress on OpenShift ArangoDB

[2018-05-04 09:57] dothebart commented on #41
@adamstallard the docker library is now up to date too.

[2018-05-23 22:48] soycaporal opened #48 "Docker-compose not executing scripts in /docker-entrypoint-initdb.d"
We run a few scripts inside /docker-entrypoint-initdb.d
When using docker to run the container, the scripts run fine:
[code]
But when using docker-compose, the scripts are skipped
[code]
Part of my compose file:
[code]

Is there anything I am missing here? Why the inconsistency?

[2018-05-24 08:36] dothebart commented on #48
Hi,
we run https://github.com/arangodb/arangodb-docker/tree/official/test-user-scripts on each push of the docker container. Please have a look at them, whether they can serve as a working example for you.

[2018-05-24 17:24] soycaporal commented on #48
@dothebart Thank you for the information. The scripts I have run fine on an arangodb container, it's when I try to bring it up using **docker-compose** that I am having issues. The `entrypoint.sh` script doesn't seem to run at all, I don't even see these 2 lines:

[code]

[2018-06-11 14:30] brendanwheble commented on #48
I had exactly the same problem using docker-compose. I removed all of my containers and images and then tried again, this time it imported my /dumps

[2018-07-02 08:22] gbjbaaha opened #49 "Failed to build local version of container for testing"
Hi,
I've hit the same issue as report in https://github.com/arangodb/arangodb-docker/issues/48, but also seems to be an issue when running under Docker Swarm. To try and investigate, I tried downloading this project and following the instructions for "Building your own ArangoDB image".

I want to build a container for ArangoDB 3.3.11 but the contents of DockerFile.templ appear to be pointing at an

[2018-07-02 09:22] gbjbaaha commented on #48
I am hitting similar issues when running under Docker in Swarm mode, but after some testing I think the problem may be with the Docker Container itself. Here is what I have found today:-

Base O/S = Ubuntu 16.04 running on AWS EC2 instance
Docker Version = 18.03.1-ce

With no explicit volume mounts or anything (to ensure a "clean" image with no persisted data):-

[code]

Notes:
1. The volume for t

[2018-07-02 09:42] dothebart commented on #49
Hi,
the .templ files are there to generate docker library templates - like https://github.com/arangodb/arangodb-docker/tree/official/stretch/3.2.15 via the release scripts; you can't use them directly.

i.e. https://github.com/arangodb/arangodb-docker/blob/official/Dockerfile33.local can be used to create a docker container using an `arangodb.deb` package in the very same directory - which is prob

[2018-07-02 09:47] gbjbaaha commented on #49
Hi. Err OK, but the documentation in the main README file states:-

[code]

Does the README need updating to clarify what is needed to build your own container image?

Thanks
Andrew

[2018-07-02 10:08] gbjbaaha opened #50 "RocksDB Storage option broken since 3.3.10 when starting a new database image"
I believe the Docker image post version 3.3.9 (so 3.3.10 and 3.3.11) is broken when you elect to initialise a new database using storage option "rocksdb".

Here is my test case:-

Base O/S = Ubuntu 18.04 or OSX 10.13.5
Docker version = 18.03.1-ce
Docker Compose version = 1.21.1

I am using Docker Compose, but I see the same results if I use the basic "docker run" style command to pull and start th

[2018-07-02 12:06] dothebart commented on #50
Confirmed!
Thanks for reporting.

[2018-07-02 12:10] #49 closed, assigned to nobody

[2018-07-04 16:11] comigo-github commented on #50
It looks that the problem is with the new use of the --config parameter.
In the previous dockers once you use the ARANGO_STORAGE_ENGINE=rocksdb the entrypoint script changed the /etc/arangodb3/arangod.conf directly.
But now (in version 3.3.10 and 3.3.11) the entrypoint first copies the arangod.conf file to a temporary location, changes it there, and then pass it as an argument to the arangod comma

[2018-07-04 16:18] neunhoef commented on #50
Please try again now. I have fixed the problem and submitted a PR to the official Docker images which was merged by now. This should be fixed in 3.3.10 and 3.3.11 now as well as in our nightly preview images.

[2018-07-05 13:44] gbjbaaha commented on #50
Just checked Docker Hub (https://hub.docker.com/r/arangodb/arangodb/tags) and 3.3.11 still showing as 7 days ago. Can you confirm that this new image has indeed been pushed up to the hub?

<img width="912" alt="image" src="https://user-images.githubusercontent.com/38458873/42326693-c56992f4-8061-11e8-891c-00db85c84ba5.png">

[2018-07-05 14:21] dothebart commented on #50
Hi,
If I get that correctly this patch was only applied to `_/arangodb` at the time being.

[2018-07-05 14:46] gbjbaaha commented on #50
Hi,
OK. Do you know when the updated version will get pushed onto Docker Hub?
As requested, as soon as this new image is available I will be happy to test it and report back via this issue.
Thanks

[2018-07-05 15:59] rtmruczek commented on #43
Hello, I know this is kind of an old issue but I'm having this problem as well. I'm also on MacOS. I tried deleting all my docker volumes and recreating the images, but had the same issue. If it's helpful, I can post more detailed version info.

Edit: I believe I tracked the issue down to docker-compose caching certain build configurations. Specifying a volume in my docker-compose.yml appeared to

[2018-07-06 11:47] neunhoef commented on #50
Sorry, I was not aware that ths push is not automatic, therefore this was delayed. I have just updated the images
  - `arangodb/arangodb:3.3.10`
  - `arangodb/arangodb:3.3.11`
  - `arangodb/arangodb:latest`
with a fixed version. Unfortunately, `arangodb` the official one seems to take longer. My PR was merged 3 days ago and the update should be automatic...

[2018-07-08 14:16] gbjbaaha commented on #50
Pulled both 3.3.11 and 3.3.10 tags and re-tested. Happy to report that all now seems good 👍
Many thanks for the quick fix.

[2018-07-08 14:16] #50 closed, assigned to neunhoef

[2018-07-10 08:10] dothebart commented on #48
could it be related to this comment? https://github.com/docker-library/postgres/issues/203#issuecomment-255200501 (learned that from @rtmruczek )

[2018-07-10 08:13] brendanwheble commented on #48
Yes, see my previous comment

[2018-07-10 08:14] dothebart commented on #47
@ewoutp and @neunhoef have worked to get openshift working. You should now be able to run this docker container directly or via kube-arangodb as stated in arangodb/kube-arangodb#128 - closing this issue.

[2018-07-10 08:14] #47 closed, assigned to nobody

[2018-07-10 08:15] dothebart commented on #44
meanwhile arangodb on kubernetes is supported via  https://github.com/arangodb/kube-arangodb - closing this issue.

[2018-07-10 08:15] #44 closed, assigned to nobody

[2018-07-10 08:17] dothebart commented on #30
meanwhile the documentation got an own chapter dedicated to upgrading - https://docs.arangodb.com/devel/Manual/Upgrading/ - closing this issue.

[2018-07-10 08:17] #30 closed, assigned to nobody

[2018-07-10 08:21] dothebart commented on #39
Hi,
we recently reworked https://docs.arangodb.com/devel/Cookbook/Monitoring/Collectd.html - if this doesn't suit your needs, please open an issue on the arangodb repository itselves, its got a broader audience than this.
Closing this now.

[2018-07-10 08:21] #39 closed, assigned to nobody

[2018-07-10 17:28] soycaporal commented on #48
Yes @dothebart @brendanwheble, I believe this caused by persistence, much like the postgres issue

I believe [this line in the docker entry file](https://github.com/arangodb/arangodb-docker/blob/5e3113040163a9c02df8c2aac06b0f3b750450d7/docker-entrypoint33.sh#L36) is the root cause. Try removing the file `/var/lib/arangodb3/SERVER`

[2018-07-11 08:57] dothebart commented on #48
ok, maybe https://github.com/arangodb/arangodb-docker/pull/51 would then better help to see why no initialisation is done.

[2018-07-12 06:59] #45 closed, assigned to dothebart

[2018-07-18 09:35] dothebart commented on #48
Ok, the current arangodb docker containers now contain these hints, will close this issue.

[2018-07-18 09:35] #48 closed, assigned to nobody

[2018-07-18 09:36] dothebart commented on #43
Ok, our docker containers now echo on startup that they're working with an existing installation, so this situation can be more easily identified.
Closing.

[2018-07-18 09:36] #43 closed, assigned to nobody

[2018-08-06 14:14] ewoutp opened #52 "What is the recommended image to use? Library or in arangodb namespace"
Original question by @cbluth here: https://github.com/arangodb/kube-arangodb/issues/225#issuecomment-410714278

[2018-08-07 06:26] odidev opened #53 "ARM64 support"
I am trying to use ```ArangoDB``` over ```arm64v8``` architecture.
Do you have any such guidelines, which I can follow to achieve resultant output?

I am open to trying any kind of experimental changes too as my goal to achieve success over ```arm64v8```.

Or is there any plan from community to add support for ARM in near future?

Regards,

[2018-08-07 21:54] gidaltilopes commented on #2
"unix> sudo chown 999 /tmp/arangodb" Worked to me!
thx

[2018-08-08 21:05] Simran-B commented on #53
_Cross-post from [Google Groups](https://groups.google.com/forum/#!topic/arangodb/QPM7TgNsRqY):_

I'm sorry there is no official arangodb support for ARM any time soon. We gave it a try, and found to many issuers or bad user experience.

- we can only support at least ARMv7, .debs will instantly crash on rasbian and there seems to be no smart way to prevent this in the packaging system
- we curren

[2018-08-09 09:58] neunhoef commented on #53
Clarification about: "Thus, there will be no official arm support by arangodb."
As mentioned above, this is the situation at the time of this writing. Depending on available resources and market demand this might change later.

[2018-08-14 10:08] odidev commented on #53
Hi Guys,

I managed to compile and run ```ArangoDB``` and I can clearly view ArangoDB-Dashboard over the webpage.
In my view, ```ArangoDB``` can be supported over ```ARM64v8``` too.

I will be happy to raise a PR, if it suits maintainers.

Regards,

[2018-08-14 10:12] neunhoef commented on #53
Sounds great! I would be very interested to see a PR.
  Cheers Max

[2018-08-14 10:16] odidev commented on #53
Thanks for your support @neunhoef .
My main change is to use latest ```JEMALLOC - v5.1.0``` instead of default ```JEMALLOC - v5.0.1``` being used in ```ArangoDB``` source-code.

I wonder how to push this change.

Regards,

[2018-08-14 11:12] neunhoef commented on #53
Interesting. Let me investigate. We have not yet moved to the new jemalloc since we saw somewhat worse performance. Is there any other change you needed?
  Max

[2018-08-14 12:00] odidev commented on #53
@neunhoef.
For generating ```deb``` of ```arangodb``` -
-- Only newer ```jemalloc``` is sufficient.

For Dockerfile -
-- Package change is required regarding SSL.

Regards,

[2018-08-15 15:31] pdiveris opened #54 "Permission denied in entrypoint.sh"
Just a quick note - I've been running locally the Dockerfile so that I can use it as a base image and have dumps and scripts executed and I've been getting  this error

```ERROR: for arangodb  Cannot start service arangodb: b'OCI runtime create failed: container_linux.go:348: starting container process caused "exec: \\"/entrypoint.sh\\": permission denied": unknown'```

I have resolved by adding t

[2018-08-20 06:07] odidev commented on #53
@neunhoef
Hi Max,

Any update at your end?
I can raise a **PR**, if it suits the requirement.

Question is, whether **PR** needs to be raised at ```ArangoDB source-code``` first then wait for official ```deb``` releases or directly raise a **PR** in ```ArangoDB-Docker``` with my own ```deb```.

Please provide your guidance.

Regards,

[2018-08-23 08:45] dothebart commented on #53
@odidev are you able to start arangodb again with the same database? this was one of the previous issues which we gave up fixing due to the long compile time turnarounds.
Can you also run the unittests?
`./scripts/unittest all `
and
`./scripts/unittest all --cluster true `
to get a better view whether its working properly?

[2018-08-23 09:16] odidev commented on #53
@dothebart
Hi Wilfried,
Yes, I am able to start multiple instances of ArangoDB with the same database.
Regarding the execution of unit test cases, I will get back to you with proper results.

Regards

[2018-08-23 10:51] dothebart commented on #53
we maybe better discuss this in slack - https://github.com/arangodb/arangodb/blob/devel/README_maintainers.md#arangodb-unittesting-framework contains some more informations.

[2018-08-23 10:56] odidev commented on #53
@dothebart
Thanks, Wilfried for providing your supportive guidance.
I really appreciate it. :smile:

Is it possible that I raise a PR with my changes and then we both can have a discussion over the same?
In this way, all the developers interested in ```ArangoDB``` can also pick the changes and provide some more info.

Regards,

[2018-08-24 07:20] odidev commented on #53
@dothebart
Hi Wilfried,

This is the present outcome of ```./scripts/unittest all``` over ```arm64v8``` platform.
All the test cases are passing except:
 - Endpoint
[code]
 - http_server
```The tests are based in Ruby, need to check if it can be passed```

 - ssl_server
``` Debugging the reason for failure```

Regards,

[2018-08-24 08:17] odidev commented on #53
One more observation:

These test cases are failing over ```AMD64``` platform with default ```ArangoDB``` too:
- http_server
- ssl_server

Regards,

[2018-08-24 08:27] dothebart commented on #53
Hi,
you need to `sudo apt-get install bundler; cd UnitTests/HttpInterface; bundle`
Please note that rspec may conflict with system installed rspec versions, so you shouldn't install them via apt.
`http_server` and `ssl_server` both require a running rspec with the proper version.

[2018-08-24 09:37] odidev commented on #53
@dothebart
Hi,
After executing ```sudo apt-get install bundler; cd UnitTests/HttpInterface; bundle```
Failing test case are also passing :smile:

Regards,

[2018-08-25 11:45] vielmetti commented on #53
I am very interested in this work for Works on Arm @worksonarm http://worksonarm.com - if there are any specific issues that are still blockers please let me know and I can get visibility from additional teams.

[2018-08-27 10:20] odidev commented on #53
@dothebart
Hi Wilfried,

This is the present outcome of ```./scripts/unittest all --cluster true``` over ```arm64v8``` platform.
All the test cases are passing except:
 - Endpoint
```This test case is trying for IPv6 on board using IPv4 subsystem. I have modified the script to use the same IPv4 address in IPv6 to achieve success in this test```

 - Authentication
``` This test case is also failing

[2018-08-27 16:47] mpoeter commented on #53
@Simran-B there are already some pretty big ARM servers available (see e.g., https://www.cavium.com/GIGABYTE-Announces-384-Core-2U-Server-Powered-By-Cavium-ThunderX-ARMv8-Processors.html)

@dothebart regarding the long compile times: can't you just cross-compile for ARM on your local workstation?

I am a bit concerned about some pieces of concurrent code that use atomics, because the ARM memory mo

[2018-08-30 21:08] solisoft opened #55 "/init-scripts/install-service.sh is ran to early"
My /init-scripts/install-service.sh script fail to connect to the server ...

It only contains one line with `foxx install... `

Here the log:
[code]

[2018-09-05 00:04] rm-rf-etc commented on #31
Need to add this to the documentation, and should be mentioned [in the docker hub readme](https://hub.docker.com/r/arangodb/arangodb/)

[2018-10-15 11:10] lag-linaro commented on #53
@neunhoef I just read https://github.com/arangodb/arangodb/pull/6257#issuecomment-429226265 which sounds really promising.

How does one `docker build` this repo for ARM64 now then?  It still looks as though the pre-built packages are being drawn down from https://download.arangodb.com which still only appears to provide support to `amd64`.

[2018-10-30 03:42] odidev commented on #53
Hi Guys,

Sorry to disturb you, but is there any update in ```ArangoDB``` w.r.t. ```ARM64``` architecture.
The current state of ```ArangoDB-Docker``` is still stuck due to dependency over prebuilt packages which are being downloaded from official website.
This will require a ```ARM64``` based release at the server, which can be downloaded by docker too.

Regards,

[2018-10-30 08:55] dothebart commented on #53
Hi,
we're currently working heads down to stabilize 3.4 and make it ready for prime time. Please bear with us that we don't focus on other things till then.

[2018-11-21 12:49] vpavlin opened #57 "Permission denied on /var/lib/arangodb3-apps/ when running in OpenShift"
Hi,

I am working on deploying ArangoDB on our OpenShift cluster and everything looks great up to the point where I try to create a database at which point I get:

[code]

I tracked the issue down to missing `-R` in https://github.com/vpavlin/arangodb-docker/blob/official/Dockerfile34.templ#L46-L47

Steps to reproduce:

[code]

I have built an image from fixed Dockerfile
https://quay.io/repository

[2018-11-29 12:30] lag-linaro commented on #53
Good afternoon @dothebart.  How are things looking for `3.4`?  Do you know when the release is due?

[2018-11-29 13:11] dothebart commented on #53
Things are comming together nicely recently. Please follow i.e. https://twitter.com/arangodb/ or subscribe to our newsletter if you want to be triggered.

[2018-11-29 13:16] lag-linaro commented on #53
Will do.  Thank you.

Nice carriage/bike by the way. :smiley:

[2018-12-06 16:35] stumo opened #59 "arangodb/arangodb:latest changed from debian to alpine?"
I'm seeing issues which suggest the base image for arangodb/arangodb:latest has changed from debian (with apt-get) to alpine (with apk) - is this an intentional, long term change?

[2018-12-06 16:42] dothebart commented on #59
Yes - exactly, ArangoDB3.4 now comes as an alpine image.

[2018-12-06 16:43] dothebart commented on #59
see https://www.arangodb.com/2018/12/arangodb-3-4-full-text-search-geojson/ for the whole glory ;-)

[2018-12-07 07:30] fceller commented on #59
@stumo alpine has a lot fewer security issues - as the image itself contains only the bare minimum software packages. Therefore we switched to Alpine.

As a side effect, the image is a bit smaller. But the main reason is security.

[2018-12-07 11:50] stumo commented on #59
Thanks. No problems with the change, just wanted to check it was long term before I started updating scripts

[2018-12-07 11:50] #59 closed, assigned to nobody

[2018-12-13 11:14] lag-linaro commented on #53
Congratulations on your release @dothebart. :smiley:

Do you think you might be able to spare some time with `aarch64` support now?

[2018-12-17 09:28] dothebart commented on #53
@neunhoef already started by making devel compile on ARM again - https://github.com/arangodb/arangodb/pull/7770 - the continued effort will be adding ARM clients to our CI etc.

[2018-12-17 09:32] odidev commented on #53
This is really an awesome update @dothebart.
Thanks to @neunhoef  as well 😄

[2018-12-17 11:00] neunhoef commented on #53
Both the 3.4 and the devel branch should now be ARM ready again. In 3.4, one still has to switch usage of jemalloc off, in devel one can use jemalloc. I have added an ARM jenkins node and will add another and start to run nightly tests and PR tests with ARM as well. The next step would then to publish ARM Docker images. However, I still do not know how soon these will be "officially supported".

[2018-12-17 11:23] lag-linaro commented on #53
Great progress @neunhoef.  If we can get to a point where we have `docker pull`able images, so people can start to use/test the images (at their own risk of course) that would be tremendous.  Whether and when you deem them as 'officially supported' is totally your decision.

[2018-12-17 11:24] lag-linaro commented on #53
What does your release roadmap look like now?

Will there be a `3.4.x` (presumably from 'devel') any time soon?

[2018-12-17 11:55] dothebart commented on #53
While 3.4 is considered stable now, there will only be bugfixes to this branch.
New features are introduced to devel, which will become 3.5 at some later time.
ARM-Docker -Images will probably be published via https://hub.docker.com/r/arangodb/arangodb-preview/

[2018-12-29 13:49] haseebnaseem opened #60 "Coordinator container crashing"
We have an arangodb cluster deployed using kubernetes. One of the coordinator container is crashing upon startup with only the following logs:
`automatically choosing storage engine
{startup} obsolete option '--cluster.my-local-info' used in configuration. setting this option will not have any effect.`

[2019-01-07 09:46] dothebart commented on #60
Please open the issue on the arangodb main repository.
Can you ensure your system supports SSE 4.2 ?

[2019-01-07 09:46] #60 closed, assigned to nobody

[2019-01-08 08:11] ixxie opened #61 "Document how to run the ArangoDB container in read-only mode"
It is a general security recommendation to run containers in `read_only` mode except for the volumes you need to use. On `arangodb:3.3` we could simply mount `/var/lib/arangodb3` to a data volume, and set `tmpfs` to the host's `/tmp` directory.

It seems that with `arangodb:3.4` the foxx-cli are run as root and try to write a `.foxxrc` file to `/root/.foxxrc` and failing. The log shows:

    Error

[2019-01-09 22:56] rocketraman opened #62 "3.4.0 images should default to `log.output` of `-` (stdout)"
I upgraded my cluster from 3.3.x to 3.4.1 I actually thought the upgrade failed (see https://github.com/arangodb/arangodb/issues/7914) because the default log output of a 3.4.1 cluster goes to a file (see `/etc/arangodb/arang`). The echo messages from the init script do show up on stdout, so if one is looking at the container logs, it *seems* like the server has just hung, when in fact it is likel

[2019-01-10 13:29] jan-zajic commented on #62
Temporary fix is to start container with CMD: "--log.output -".

[2019-01-10 17:56] dothebart commented on #62
Note: the `_/arangodb` container shouldn't be doing this, only the `arangodb/arangodb` one.

[2019-01-11 13:54] cbluth opened #64 "Please provide a way to set JWT_SECRET via Environment Variable"
I run arangodb with the docker image.
I would like to set the `JWT_SECRET` via environment variable, instead of having to do this:
[code]

[2019-01-11 14:12] fceller commented on #64
Have you tried

    spec:
      containers:
      - args:
        - arangod
        - --server.jwt-secret
        - @JWT_SECRET@

Does this work for you?

[2019-02-03 09:15] #64 closed, assigned to nobody

[2019-02-03 09:15] fceller commented on #64
Assume the above config works.

[2019-02-03 10:02] fceller commented on #62
fixed Dockerfile in oskar

[2019-02-03 10:02] #62 closed, assigned to nobody

[2019-02-03 12:35] fceller commented on #61
moved .foxxrc to /tmp

[2019-02-03 12:35] #61 closed, assigned to fceller

[2019-02-06 11:02] rogierschouten opened #65 "Make the ARANGO_ROOT_PASSWORD_FILE environment variable work again"
Fallout of #31

This environment variable is not documented. You need it to be able to use Docker Secrets.

[2019-02-06 14:12] rogierschouten commented on #65
Actually the environment variable doesn't even work. Please make it work because this creates a security issue.

[2019-02-15 14:55] rogierschouten commented on #65
For anyone interested, I used this workaround:

Create entrypoint2.sh like so:

[code]

Create Dockerfile like so:
[code]

The resulting docker image has a working ARANGO_ROOT_PASSWORD_FILE environment variable that can be used with Docker secrets.

[2019-02-18 14:21] fceller commented on #65
@rogierschouten can you help me? In which version does it fail? I try 3.4.2 as follows:

`docker run -it -v /tmp/config:/config -e ARANGO_ROOT_PASSWORD_FILE=/config/password arangodb:3.4.2`

which started and used the password from /tmp/config/password.

[2019-02-18 14:26] fceller commented on #54
Does this problem still exist?

[2019-02-18 14:36] fceller commented on #57
@vpavlin I think the main problem is that "1001" is not the uid of arangodb. If you use names then it works:

``` docker run --name tmp0 -it --rm -u arangodb:arangodb docker.io/arangodb/arangodb:3.3.17 bash```

Can you confirm this?

[2019-02-18 14:51] vpavlin commented on #57
Could be, the problem is that in OpenShift the uid is random for better security, but the user is in group root, thus the guidelines suggest to `chgrp -R 0` see: https://docs.okd.io/latest/creating_images/guidelines.html#openshift-specific-guidelines

[2019-02-18 15:12] lag-linaro commented on #53
@dothebart loving the new PicoCluster.  Does this mean AArch64 support is en route?

[2019-02-18 17:58] pdiveris commented on #54
Not sure to be honest. Will check and close if solved.

[2019-02-19 07:57] rogierschouten commented on #65
I'll have a look tonight, thx

[2019-02-19 10:51] rogierschouten commented on #65
Please note I'm on Windows;  in the example below, the docker secret already exists and my workaround works; however the original image does not:

[code]

Output:

[code]

[2019-02-19 11:07] dothebart commented on #65
Hi,
the error message is most probably missleading.
[code]
is used to access the password - maybe the mapping into docker leads to permission problems? this is a common problem with docker machine installations.

[2019-02-19 12:15] rogierschouten commented on #65
Is it possible for it to be permission problems if the workaround container works? I have that running right now...using the same docker run command.

[2019-02-19 12:17] rogierschouten commented on #65
Maybe you can try on your end with a proper docker secret and see what that does? If that works, something windows'y is probably the culprit

[2019-02-19 14:16] dothebart commented on #53
at the time being we maintain compileability of ArangoDB on ARM64.
We will continue pushing images via the preview channel.
Once we feel certain enough and can maintain quality etc. ARM64 will become an official port again and will be published via our regular channels.

However, I can't give any ETA on this at the time being.

[2019-02-26 15:09] dothebart commented on #65
[code]
and:
[code]
So most probably a permission problem here?

[2019-03-19 13:51] Fruchtgummi commented on #53
How I get the ARM-Version from Dockerhub? Tag?

[2019-03-20 07:33] Fruchtgummi commented on #53
If I try build the docker-container with a pi3, then I get the following error:

`standard_init_linux.go:190: exec user process caused "exec format error"`

[2019-04-10 08:34] riker09 commented on #65
Using the latest image version (`arangodb:3.4.4`) I can confirm that the env var `ARANGO_ROOT_PASSWORD_FILE` works as intended.

[code]

[2019-04-10 08:44] #65 closed, assigned to fceller

[2019-04-10 08:44] dothebart commented on #65
Thanks!

[2019-04-11 01:22] genesis3g commented on #54
Yes, it does.

[2019-04-11 06:50] pdiveris commented on #54
Thank for confirming and yes, I re-confirm, yes it does.

[2019-04-12 13:15] dothebart commented on #54
the suggested change will be available with ArangoDB 3.4.6

[2019-05-10 17:45] TariqAHassan opened #67 "Automatically prepend `numactl --interleave=all` to docker command"
Recently I encountered the message:

[code]

As discussed [here](https://stackoverflow.com/q/33315950/10129460), it is possible to automatically prepend this to the docker command (code [here](https://github.com/docker-library/mongo/blob/06966669c2bf2b425a0913247e799f70ee41da1f/3.4/docker-entrypoint.sh#L28)).

Is this something that could, or should, be added to the dockerization of ArangoDB?

Edi

[2019-05-11 06:09] #67 closed, assigned to nobody

[2019-05-14 08:46] maxkernbach commented on #53
Hi @Fruchtgummi,

first of all sorry for the late reply.
All docker images in [arangodb/arangodb-preview](https://hub.docker.com/r/arangodb/arangodb-preview/tags) are ARM-images. However this docker container is not maintained as regularly as the official one [arangodb/arangodb](https://hub.docker.com/r/arangodb/arangodb).

Please note that ARMv7 support is required to run these docker images whil

[2019-05-30 17:07] mhaagens opened #69 "Not connected when running init shell scripts"
I'm trying to create a new database on init, but I'm only getting errors saying it's not connected.

Error:
[code]

docker-compose.yml
[code]
./docker/arangodb/Dockerfile
[code]

/docker-entrypoint-initdb.d/001-create-database.sh
[code]

[2019-06-03 12:42] dothebart commented on #69
Hi,
by default the arangodb docker container doesn't bind unix domain sockets. You can however make it do so by specifying it should do  (this example chooses to disable authentification for simplicity):
[code]
then your arangosh should be able to connect to that unix domain socket.

A nice addon is, that you could share that socket with your host if you mount the filesystem the socket is created

[2019-06-13 10:19] lag-linaro commented on #53
RPi3 is AArch64.

[2019-06-13 10:19] lag-linaro commented on #53
4 monthly ping.  Any update on this @dothebart? :)

[2019-06-13 11:48] dothebart commented on #53
sorry no news. again - @neunhoef is the owner of this.

[2019-06-13 11:52] dothebart commented on #53
while it is physically, rasbian is not.

[2019-06-17 23:12] averri opened #70 "docker-entrypoint-initdb.d is not executing"
The dumps located in `/docker-entrypoint-initdb.d/dumps` is not getting executed.

Dockerfile:
[code]

Build the Docker image:
`docker build -t testdb .`

Start the container:
`docker run -p 8529:8529 testdb`

Logs from ArangoDB:
[code]

OS: Windows 10
Docker version 18.09.2, build 6247962

[2019-06-17 23:33] averri commented on #70
Changed the Dockerfile to:
[code]
... and now the dumps are getting executed, but there is an error:
[code]

[2019-06-18 22:47] averri commented on #70
The solution is to use a folder inside `/dumps`:

[code]

[2019-06-18 22:47] #70 closed, assigned to nobody

[2019-06-21 21:15] averri opened #71 "Single instance ignoring password configuration"
I have created the following Docker file:
[code]
Starting the container with:
`docker run -p 8529:8529 reviews`

The Arangodb logs:
[code]

After starting, it's possible to access the web interface at http://localhost:8529 with no password.

Inside the container, the environment variables are set correctly:
[code]

Host operating system: Windows 10

[2019-06-23 00:05] averri commented on #71
I have discovered that if using the option `ARANGO_NO_AUTH 0` the authentication is disabled. The correct way to provision the root password is:

[code]

[2019-06-23 00:05] #71 closed, assigned to nobody

[2019-08-13 11:46] lag-linaro commented on #53
@neunhoef how's this looking?  Any updates at all?

Looks like I was prematurely excited by the arrival of the PicoClusters.

[2019-09-02 19:43] prabirshrestha opened #72 "autoupgrade support by environment variable"

[2019-09-05 15:33] caracal7 commented on #54
I solve this problem by adding 2 lines before `ENTRYPOINT ["/entrypoint.sh"]` inside `Dockerfile`

[code]

[2019-09-05 15:35] diverispetros commented on #54
Yes, that's precisely what I did too. Thanks.

[2019-09-09 21:32] ex-nerd opened #73 "Template file for v3.5?"
v3.5 is out now.  It would be nice if there were templates/images to go with it.

[2019-09-10 08:38] dothebart commented on #73
https://github.com/arangodb/arangodb-docker/tree/official/alpine/3.5.0 ?

[2019-09-10 17:16] ex-nerd commented on #73
I guess I was referring to the `.template` files at the root level of the repo.  But then I did notice that there are images available, which is actually all that I was looking for.

[2019-09-11 08:12] dothebart commented on #73
these template files are used to be specialized for the respective releases. So I will close this now.

[2019-09-11 08:12] #73 closed, assigned to nobody

[2019-09-19 12:48] lag-linaro commented on #53
Just checking in.

Have you guys given up on the idea of supporting AArch64?

[2019-09-20 11:09] bischjer opened #74 "Problems starting up arangodb >= 3.5.0 : Tested on clean docker system."
Database directory version (30408) is lower than current version (30500)

Ran in to this issue using :latest and jumping from 2.4.8 to 3.5.0

After docker system prune -a and all local volumes disabled it still gives me this stack trace.

arangodb_1      | automatically choosing storage engine
arangodb_1      | 2019-09-20T11:04:14Z [1] INFO [e52b0] ArangoDB 3.5.0 [linux] 64bit, using jemalloc, bui

[2019-09-20 11:25] #74 closed, assigned to nobody

[2019-10-22 09:24] brice commented on #72
Or, at least, can you document a way to upgrade easily?

[2019-11-27 00:30] ex-nerd opened #77 "ARANGODB_STARTER_MODE and similar env vars are ignored"
I've been trying to run a container inside of github-actions with `starter.mode=single` but it turns out the entrypoint script for this container doesn't actually support the full set of startup environment variables.

I'm building a [standalone action](https://github.com/xinova/arangodb-action) as a workaround with a wrapper entrypoint script, but it would be nice for a variety of reasons to be a

[2019-12-18 14:08] omarmohsen commented on #57
I can still reproduce the same issue using Kubernetes if I drop the DAC_OVERRIDE Linux capability in the deployment file even if I am using the root user:
[code]

[2020-01-13 01:35] williamvm opened #79 "items on arangodb-docker description page are dated"
Hello some items are dated or wrong with current 3.6 images, please update.
https://hub.docker.com/_/arangodb/

**1. in Persistent Data first alinea, last sentence**
   "The default choice is mmfiles"  better "Starting with 3.6 the default configuration is rocksdb"
**2. in Persistent Data last alinea**
   linked blog articles are dated and wrong by now.
   better the offical [Docker docs on Storag

[2020-01-13 13:41] williamvm opened #80 "port mention in startup script output wrong"
hello,
when starting a container with a non-default external port the startup output mentions the default or internal url and port. With below example should be 0.0.0.0:8530. As expected everything is working fine using 8530 so just a script output error.

docker run -p 8530:8529 -e ARANGO_NO_AUTH=1 --name arangotest arangodb:3.6.0
using endpoint 'http+tcp://0.0.0.0:8529' for non-encrypted request

[2020-01-13 14:06] dothebart commented on #80
Hi,
the port mapping is introduced on the docker layer - the inside running software always has the port binding that it logs. It doesn't even know that this mapping exists and what its doing.

PS:
please note that without configuration this will add a proxy which may interfere with performance.

[2020-01-13 22:44] williamvm commented on #80
So as designed. Good point about performance.Thanks.

[2020-01-16 13:49] dothebart commented on #80
oki, closing as solved then.

[2020-01-16 13:49] #80 closed, assigned to nobody

[2020-01-23 22:41] J0WI opened #81 "Upgrade to Alpine 3.11"
The slim variant safes some extra bits: https://hub.docker.com/_/debian

[2020-01-23 22:42] J0WI opened #82 "Upgrade to Debian Buster and switch to slim variant"

[2020-01-24 10:31] dothebart commented on #82
Hi,
as you may have seen debian docker targets are only provided up to ArangoDB 3.3 - which we already anounced EOL for - https://www.arangodb.com/eol-notice/ - thus I will close this as "Won't fix"

[2020-01-24 10:31] #82 closed, assigned to nobody

[2020-02-16 17:34] pluma commented on #72
As a workaround, I was able to wrap the `entrypoint.sh` with my own to perform an upgrade on every restart of the container by deriving my own dockerfile:

[code]

and `api-entrypoint.sh`:

[code]

I think it would be nice if ArangoDB standalone had an option like the cluster coordinators have with `online` to perform an upgrade-and-reboot (or even just the upgrade if the reboot is no longer requi

[2020-02-16 17:37] pluma commented on #55
The problem here is that the port is different during the init phase. By default it'll be 8999 but it's exposed in an env. Try something like

[code]

This works with the current version of the images.

[2020-02-16 17:53] pluma opened #83 "docker-entrypoint-initdb.d is nice, but how about docker-entrypoint-upgradedb.d?"
When extending the ArangoDB docker image as a base image to dockerize a Foxx service (or anything else really) it's extremely useful to be able to just stuff `/docker-entrypoint-initdb.d` full of shell scripts doing things like

[code]

to get the database up and started. However this is only useful for a first-time run. Once the database is initialised, changes to these shell scripts or arangosh

[2020-02-16 17:57] pluma commented on #83
/cc @joerg84

This is a papercut I ran into while using docker with Foxx myself. The workaround is clunky and fragile. I don't think it would be too complicated to extend the `entrypoint.sh` to simplify users' dockerfiles to what I show in the end with no other dependencies.

[2020-02-16 18:04] pluma opened #84 "entrypoint.sh should set foxx-cli default server"
Users probably aren't aware that they have to make sure foxx-cli talks to the endpoint `127.0.0.1:8999` or whatever arangod happens to be set to listen to during the init phase if they want their init scripts to work correctly.

To simplify this, entrypoint.sh should run the following:

[code]

before looping over the files in the init scripts directory and then

[code]

right after the loop.

Thi

[2020-02-16 18:09] pluma commented on #52
I think the bare name is the official release and the namespaced one was used for the experimental alpine releases which are now the default?

[2020-02-16 18:12] pluma commented on #84
Looks like this was actually implemented before and then removed? https://github.com/arangodb/arangodb-docker/commit/50f31d72dac9440550f94e2878b76875ed0ec0ce

@dothebart I can't seem to find any explanation for this change. Can you clarify?

[2020-02-16 18:13] pluma commented on #84
If this is a permissions thing, we should just create the file manually (`~/.foxxrc`):

[code]

Please don't remove Foxx-related features without telling me.

[2020-02-17 14:19] KVS85 commented on #81
ArangoDB releases of 3.7 branch will use `Alpine 3.11`. Previous branches will remain on `Alpine 3.10-`.

[2020-02-17 14:46] KVS85 commented on #81
Done in https://github.com/arangodb/oskar/pull/226.

[2020-02-17 14:46] #81 closed, assigned to KVS85

[2020-03-11 08:39] 153957 opened #85 "Arangodb 3.6.2 image"
Please provide a docker image for Arangodb 3.6.2.

Would it help to make a PR for this, or should we just wait a bit?

@KVS85

[2020-03-11 08:58] dothebart commented on #85
It is not released yet. Please follow the regular release channels where we anounce this - i.e.
https://groups.google.com/forum/#!forum/arangodb-announce

[2020-03-11 08:58] #85 closed, assigned to nobody

[2020-03-11 09:12] KVS85 commented on #85
@153957 please, wait a little bit. We plan to release 3.6.2 very soon. Meanwhile you can use preview images:
- https://hub.docker.com/layers/arangodb/arangodb-preview/3.6.2/images/sha256-cf9f41636d1022425f0d2e31c2796c808cf3e72436099e0918fe5c284dbdf041
- https://hub.docker.com/layers/arangodb/enterprise-preview/3.6.2/images/sha256-b3d53bda214f9f797061fd74327b08cf41ee36cb9334eef95a4ad41151ff5e27

[2020-03-11 09:48] 153957 commented on #85
Ah my mistake! I was following the GitHub releases page: https://github.com/arangodb/arangodb/releases

Thanks for directing me to the correct place.

[2020-03-11 10:13] dothebart commented on #85
These probably only list release tags - which are created before the QA is done ;)

[2020-05-19 21:27] naulacambra opened #86 "Several calls to createDocuments() crashes Arango docker instance"
I'm trying to upload a bunch of json data to an arango server using Arango GoDriver

Here is my code

[code]

I'm trying to upload 2000 json files.

Each one has info of N channels (wifi channels).

This code works on localhost, but when I try to upload it to a docker instance, it loads the first batch, but the second makes the docker crash. I'm unable to get more info from the docker logs

[code]

[2020-05-20 14:05] dothebart commented on #86
Hi,
there are several possible reasons and ways to proceed.
Docker may restrict resources without these restrictions being visible in `/proc`.
Since ArangoDB 3.6.3 you may specify `ARANGODB_OVERRIDE_DETECTED_TOTAL_MEMORY` with a number for this, to work around it.

Second way to get more information about whats going on could be to try the devel / nightly container, it has a crash handler which wi

[2020-05-24 18:41] michlschmid commented on #83
Adding the `--database.auto-upgrade true` option to the entrypoint script would be really helpful if you're interested in keeping your engine up-to-date and want to keep your existing database working in an easy way.

Thumbs up for this!

[2020-06-15 07:55] nikhil-bery opened #87 "Arango Starter Docker authentication"
Hi,
I am running a Arango cluster using Starter and docker containers on separate azure machines. However accessing the WebUI is not protected by any authentication for the root user and to test. i am also able to send curl requests without JWT and get agency dumps

Have attached my docker container script below (except for IP and ARANGO_ROOT_PASSWORD, and jwt path which are changed values for pri

[2020-06-15 07:58] nikhil-bery commented on #87
Do i need to pass TLS and CA certificates to Arango also seperately?

[2020-06-15 09:56] #87 closed, assigned to nobody

[2020-09-04 17:19] curtdept opened #90 "3.7.2.1 missing"
@KVS85 happy to make a PR for it.

[2020-09-04 23:27] sarendipitee commented on #21
If anyone is looking for a way to run ArangoDB in Swarm here's an example configuration that allows you to scale Agents, DBServers and Controllers independently with `docker service scale` https://github.com/dumstruck/arango-swarm
Hope it's useful for anyone googling this.

[2020-09-07 09:46] dothebart commented on #90
Hi.
This is an internal release only. Hence there will be no public packages nor a docker container.
Official releases get docker containers by the release process,
Thanks for the heads up.

[2020-09-07 09:46] #90 closed, assigned to nobody

[2020-09-07 12:21] Simran-B commented on #21
Thanks for sharing @JonDum, will add a link to your repo to our docs: https://github.com/arangodb/docs/pull/542

[2020-09-24 10:16] alexalv opened #91 "Issue with GPG keys"
Hello, for some reason my builds always fail on
```RUN gpg --batch --keyserver hkps://hkps.pool.sks-keyservers.net --recv-keys CD8CB0F1E0AD5B52E93F41E7EA93F5E56E751E9B```

I am trying to build an alpine image with arangodb3-client installed, but I cannot get past this gpg step.
Example dummy dockerfile that fails for me:
[code]

And the log of `docker build`
[code]
The dockerfile I copypasted from

[2020-09-30 17:25] curtdept opened #92 "3.7.3 and release schedules"
So I stop asking and being irritating, is the delay between arango releases and docker updates intentional?

I am happy to PR these or do some work to keep this up to date if you want.

Thanks for the help 👍
-Curtis

[2020-10-01 09:40] dothebart commented on #92
Hi,
the release process looks as the following:

- set the tag
- build binaries
- run QA on them
- decide on publification date (maybe marketing wants to do something...)
- once its like that, publish; create PR to the docker library for `_/arangodb`, upload docker container to `arangodb/arangodb`
- create PR for homebrew (if newes release)

There may be internal releases that are not shared; you

[2020-10-01 16:28] curtdept commented on #92
Ok sounds good thank you 👍

[2020-10-01 16:28] #92 closed, assigned to nobody

[2020-10-05 09:54] rasmusblassar commented on #91
Looks like the keyserver pool _hkps://hkps.pool.sks-keyservers.net_ is down atm.

You could try another pool
[code]

Or download the public key from arangodb repository
[code]

[2020-11-04 08:36] hongwuyuan opened #93 "ArangoSearch， Does the search result return a score ？ TFIDF score"

[2020-11-04 09:27] dothebart commented on #93
Please use https://github.com/arangodb/arangodb/issues.
This repo is for issues with the docker container only.

[2020-11-04 09:27] #93 closed, assigned to nobody

[2020-12-04 10:42] odidev commented on #53
@neunhoef,

It will be very helpful if the ARM64 image is released, as many repositories are dependent on this. If anything can be done from my side, I am happy to contribute to the same.

[2020-12-07 09:34] phal0r commented on #53
@odidev
Where can I find the ARM64 image or at least instructions to build the docker image? I only found a archived repo for ArangoDB 3.3. Thanks in advance!

[2020-12-08 15:21] dothebart commented on #53
We are currently working on it. If you want to support us with PRs help is welcome; but Docker is not the first part to look at atm.

[2020-12-26 15:45] programmador commented on #53
Hello!

During past few days I'm trying to build Arango for aarch64. I'm doing it in docker.
First I've tried using debian buster but then I realized than gcc is too old and now I'm using sid with gcc10 if it matters. Probably I should also try testing (which contains gcc9). Though I'll first try to build on x86/amd64 to determine whether gcc10 could cause any problems.

So there are at least few

[2020-12-26 20:18] scientes opened #94 "[Question] Does the image have autocompaction enabled?"
i am currently using a collection as a temporary cache using the ttl index. if i do not regularly run the compaction manually my server would run out of disk space. It seems that auto compaction does not spring into action even if 90% of the collection is deleted. Is there some way to debug this or is it not enabled in the standard docker container?

[2020-12-27 09:45] programmador commented on #53
3.6.10 was build successfully on 4GB rpi4 (I didn't cross compile). The only issue was RAM usage while linking the binary eventually - kernel was killing the process every time. Adding few GB swap file fixed the problem. So it looks like I'm doing everything right. GCC 10 works fine both for amd64 and aarch64. At least I can login into web interface.

[2020-12-28 08:46] dothebart commented on #53
1) you probably can `#ifndef ARM` (?) the complete if. This is just dumping processor registers in case of a crash, its not necessary for functionality; It would probably need an ARM implementation (if)
2) maybe @gnusi can have a word whats this used for - it obviously doesn't exist on ARM; Maybe disabling some functionality in Arangosearch can make this work?
3) sounds great! can you try running

[2020-12-28 14:59] programmador commented on #53
arangodb 3.7.0 + gcc9 (funny but cmake blaims at unsupported gcc9 for 3.7.0 and 3.7.1 while 3.6.10 is being compiled with gcc10 successfully):
[code]

3.7.1 blames the same as 3.7.2 (which I mentioned before):
[code]

I'll try to run tests on 3.6.10.

[2020-12-28 16:23] programmador commented on #53
`./scripts/unittest all` Suites failed: 98 Tests Failed: 7
I guess gcc10 is alittle bit too much :-)
Hmm, I'lll try also cluster

[2020-12-28 16:50] programmador commented on #53
`./scripts/unittest all --cluster true` at some moment starts continiously printing the same line:
[code]
is in normal and I just had to wait or it's more likely an infinite loop?

[2020-12-28 17:16] dothebart commented on #53
you should find `out/UNITTEST_RESULT.json` in some kb size after each run. Please post it here.
I'm not shure why its running hot backup tests at all - it shouldn't even have the code to run that ;)

[2020-12-29 11:57] programmador commented on #53
Ok, I'll at first recompile 3.6.10 with gcc9. Also I've found that I accidently was again trying to compile 3.7.1 with gcc10 so I'll rebuild 3.7.1 too.

[2020-12-30 10:32] programmador commented on #53
3.7.1 is the same for gcc9 and gcc10: x86intrin.h error.
3.6.10 is not successful with gcc9:
[code]

[2020-12-30 12:32] maku opened #95 "docker image usable for raspi (ubuntu)"
I have an raspi 4 which runs ubuntu ( Ubuntu 20.04 LTS (GNU/Linux 5.4.0-1025-raspi aarch64)) and would like to use arangodb with docker.

Is there an image out which is usable in this context (without compiling myself)?

[2020-12-30 17:18] dothebart commented on #95
Hi,
Please have a look at:
https://github.com/arangodb/arangodb-docker/issues/53
there is an ongoing discussion; however, there are currently only older experimental images available.

[2020-12-30 17:18] programmador commented on #53
[UNITTEST_RESULT.json.txt](https://github.com/arangodb/arangodb-docker/files/5755052/UNITTEST_RESULT.json.txt)
For arangodb 3.6.10 on aarch64 built with gcc10.
`./scripts/unittest all` (without `--cluster true`)

[2020-12-30 17:28] dothebart commented on #53
Your system is missing a dependency - [Ruby RSpec](https://github.com/arangodb/arangodb/blob/devel/README_maintainers.md#dependencies) . This should fix all of the http_server and ssl_server tests.

Regarding the endpoint-tests, is your PI configured to have ipv6? You can run them alone by replacing `all` by `endpoints`. It would probably be interesting to have a look at the console output if the

[2020-12-30 18:25] maku commented on #95
@dothebart thank you, I know this issue. But it is not really that useful... I learn that it is not (easy) possible ...

[2020-12-30 18:25] #95 closed, assigned to nobody

[2021-01-02 17:23] programmador commented on #53
I'm running tests in the same docker container which I've used for building. Probably ipv6 is some kind of docker-related stuff.
`endpoints` prints:
[code]
which results into summary:
[code]

Also it blaimed at `vm.max_map_count` which I simply fixed on the host system.

And I didn't notice any changes after installing ruby-rpec into container. It is still `Suites failed: 98 Tests Failed: 7` - I'v

[2021-01-02 17:32] programmador commented on #53
Hmm, running `endpoints` outside docker helped:
[code]
Even as a non-root user. Though they failed in docker both as root and as non-root.
Do You have any ideas what does it need inside docker to run successfully? As for me it's quite strange - okay, docker won't let any incoming traffic to non-exposed ports but the container itself should not blame while working with localhost or ::1.
Or tests ar

[2021-01-02 17:37] programmador commented on #53
Oh, I forgot one more thing: there is no file named `arangodbtests`. Again I emphasize that this is 3.6, not 3.7. I don't know whether 3.6 should have that file at all.

[2021-01-02 19:16] dothebart commented on #53
you need to use the bundler file as described on the readme to install rspec. it will probably not survive a docker restart.
in https://github.com/arangodb/oskar/tree/master/containers the arangodb36.docker docker container does provide these packages on x86_64 linux systems.

These endpoint tests are for the arango to bind ports inside the docker container. Maybe starting it with networking=host

[2021-01-02 23:53] programmador commented on #53
Yes, USE_GOOGLE_TESTS was off according to an example in a build manual https://www.arangodb.com/docs/stable/installation-compiling-debian.html

I'll try `network_mode:host` and bundler. And will rebuild without disabling certain tests.

`--version` prints:
[code]

[2021-01-04 16:17] programmador commented on #53
Google tests enabled, installed ruby deps with bundler and run in docker (endpoints should fail as I've understood): `Suites failed: 5 Tests Failed: 7`.
[UNITTEST_RESULT.json.txt](https://github.com/arangodb/arangodb-docker/files/5765664/UNITTEST_RESULT.json.txt)

[2021-01-05 10:10] dothebart commented on #53
You probably need to give the docker container the permission to work with [`setrlimit`](https://stackoverflow.com/questions/24318543/how-to-set-ulimit-file-descriptor-on-docker-container-the-image-tag-is-phusion)

[2021-01-05 16:41] programmador commented on #53
As I've understood it's not allowed from inside of docker though could be set on the host system. What kind of resource exactly do I have to increase? Unfortunately I can't tell what exactly is happening wrong from the unittest report. It just tells that some test has failed. Probably I could try that on x86_64 and compare params calling uname -a.

[2021-01-06 00:17] programmador commented on #53
I've tried the same on x86_64 and there are also failed tests. Probably I should first make tests non-failing on x86_64 and only after that return to aarch64. Here are results:
[UNITTEST_RESULT.json.txt](https://github.com/arangodb/arangodb-docker/files/5773220/UNITTEST_RESULT.json.txt)
BTW The output was quite interesting, I didn't pay it attention before:
[code]

What does mean `no testfiles wer

[2021-01-06 09:37] dothebart commented on #53
you can probably run the arangodbtest binary outside the docker container; It wants to modify the ulimit to test running into it.

`no testfiles were found` means that for some reason `tests/js/client/wal_cleanup/wal-cluster-rocksdb.js` - which should have been in the list of test files wasn't detected? Are you running with storage engine mmfiles?

[2021-01-08 13:53] programmador commented on #53
I've run `arangodbtests` binary outside of docker on aarch64:
[code]
Are those failed tests relevant to ulimit issues?

The abovementioned js file is definitely present. And I don't know which storage engine used while running tests. I suppose it should test both actually.

[2021-01-11 09:22] dothebart commented on #53
hm, yes thats the same test. can you try to run `ulimit -c unlimited` in advance?

[2021-01-12 13:17] dothebart commented on #53
Hi @programmador, @Dronplane has created a branch from `devel` named `feature/ARM64-building` - its using `ARM_NEON` to replace `x86intrin.h` and other x86 optimisations.
Can you try whether this will now compile on your machine?

[2021-01-12 13:47] programmador commented on #53
Started building that branch without propagating `ASM_OPTIMIZATIONS:BOOL=OFF` with GCC-10.
If anything bad happens - will try ON and/or GCC-9.

ulimit -c unlimited works both inside and outside of docker. Actually calling `ulimit` tells `unlimited` from the start.

[2021-01-13 07:43] programmador commented on #53
The error is the same as I mentioned before:
[code]
Introduced in https://github.com/arangodb/arangodb/commit/076374e701d611bf861ac0c2e5befb1a57a1ecd8#diff-b72111fea884fb3e183462e2b7fbf6d856143eb737b863affdedf44188c61ebe

[2021-01-13 09:25] Dronplane commented on #53
Hi @programmador !
I`ve pushed a commit for disabling ARM  cpu context output in crash handler.  Could you please give it a try?

[2021-01-13 09:33] programmador commented on #53
Of course. Started building. Should wait a bit. You know, it's flying to space aliittle slower on ARM :-)

[2021-01-13 20:46] programmador commented on #53
Without `ASM_OPTIMIZATIONS=OFF`:
[code]

With `ASM_OPTIMIZATIONS=OFF`:
[code]

[2021-01-14 08:39] Dronplane commented on #53
Thx  for trying. I`ve pushed another commit. It disables -maes flag for ARM64. Also it sets ASM_OPTIMIZATIONS to OFF by default for ARM64. But if you already have value ON in your cmake cache, you have to disable it explicitly.
Could you please try with this changes?

[2021-01-14 08:59] programmador commented on #53
It seems like disabling flag for ARM64 does not work. I've cleared the `build` dir and run cmake again. It writes ON into CmakeCache.txt.
Anyway I'll try to build forcing it to OFF.

[2021-01-14 09:17] Dronplane commented on #53
That means processor arch check doesn`t worked as I`ve expected. I`ll check

[2021-01-14 09:27] Dronplane commented on #53
@programmador  what is "uname -p" output for your build system?

[2021-01-14 10:35] programmador commented on #53
It's `unknown` both inside and outside of docker on rpi4 + Manjaro.
Moreover it's `unknown` on my amd64 + Arch as well.

[2021-01-14 10:37] programmador commented on #53
[code]

[2021-01-14 10:40] programmador commented on #53
[code]

[2021-01-14 10:46] Dronplane commented on #53
Let`s create  CMAKE_SYSTEM_PROCESSOR variable in cmake with value aarch64
This will force ARM64 detection.
Also, please pull the branch once again. I've added processor type output and adjusted detection a bit. So we could see if it was detected successfully even  before  starting the build.
It should set ASM_OPTIMIZATION to OFF and print "Building for processor aarch64" if everything worked as ex

[2021-01-14 12:35] programmador commented on #53
I don't see -maes fix to work:
[code]
Maybe I should use `OPTIMIZE_FOR_ARCHITECTURE=Off` or it doesn't matter?

`ASM_OPTIMIZATIONS` are now off by default though there is just an end of line after "building for processor" string - so it's definitely working though I'm not sure it's working exactly as expected and doesn't break other architectures.

[2021-01-14 12:49] Dronplane commented on #53
No, it`s not working... Have you set   CMAKE_SYSTEM_PROCESSOR ? And pulled the latest changes. Don`t be surprised we are doing some builds on our side and there are some commits to circumvent encountered gcc bugs. That should not affect  your build

[2021-01-14 12:56] programmador commented on #53
Oh, I've misunderstood a bit. Now I've set `CMAKE_SYSTEM_PROCESSOR` and it prints "building for processor aarch64".
I'm concerned that `OPTIMIZE_FOR_ARCHITECTURE` now becomes `Off` even if I don't set `CMAKE_SYSTEM_PROCESSOR`. It looks like a change in default values which could affect builds for other architectures (x86).

[2021-01-14 12:57] programmador commented on #53
Sorry, I meant ASP_OPTIMIZATIONS, not OPTIMIZE_FOR_ARCHITECTURE.

[2021-01-14 12:58] dothebart commented on #53
we meanwhile also found out that inside ARM docker `uname -p` doesn't give you anything but `undefined`
@lag-linaro @odidev can you advise how to fix this? Is it a bug in the aarch64 docker?

I've been using this docker container:
https://hub.docker.com/layers/arm64v8/gcc/10.1.0/images/sha256-8e493bb9bb03035854d5584e59a405204ad6e038955dad7d0e72c6b2ec919d8b?context=explore
with fixing the libstdc++

[2021-01-14 12:59] Dronplane commented on #53
@programmador  maybe just old cached value? Of course x86 build should not be affected. I'll check that

[2021-01-14 13:00] programmador commented on #53
@Dronplane sorry. forget about default values. I've rechecked and it looks OK. Seems like I was confused a bit. ASM_OPTIMIZATIONS is ON when I do not specify CMAKE_SYSTEM_PROCESSOR. And it is OFF when I set it to aarch64.

@dothebart I've checked uname -p also on x86_64 machine with Arch Linux - it's undefined too.

[2021-01-14 13:02] programmador commented on #53
@dothebart It's undefined both inside and outside of docker.

[2021-01-14 13:04] programmador commented on #53
Hm, I meant `unknown`, not `undefined`. Though anyway the value is senseless.

[2021-01-14 13:07] Dronplane commented on #53
Well setting CMAKE_SYSTEM_PROCESSOR is a bit handwork... Maybe we could switch to CMAKE_HOST_SYSTEM_PROCESSOR at some point. So use it like if CMAKE_SYSTEM_PROCESSOR is set use it, otherwise use CMAKE_HOST_SYSTEM_PROCESSOR.
According to docs it is calculated like this:
`On systems that support uname, this variable is set to the output of:
uname -m on GNU, Linux, Cygwin, Android, or
arch on OpenBSD

[2021-01-14 13:11] programmador commented on #53
`uname -m` is always correct. `X86_64` for PC and `aarch64` for Rpi accordingly. Both inside and outside of docker.

[2021-01-14 13:13] programmador commented on #53
Interesting that you didn't encounter `uname -p` issues before. I have Arch on PC and Manjaro on Rpi. Manjaro is an Arch derivative so maybe they have some similar kernel config which disables correct processor type reporting.

[2021-01-14 13:15] Dronplane commented on #53
Thx for checking. I guess we will move to CMAKE_HOST_SYSTEM_PROCESSOR in final release

[2021-01-14 21:09] programmador commented on #53
[code]
It doesn't look like an architecture issue. I'll try gcc9 instead of gcc10.

[2021-01-14 21:15] Dronplane commented on #53
No, it is not.  You need to  add -DUSE_MAINTAINER_MODE=on  in order to compile tests. Just found that in our runs too.

[2021-01-14 21:15] Dronplane commented on #53
And pull latest changes.

[2021-01-15 08:10] programmador commented on #53
[code]

[2021-01-15 08:27] Dronplane commented on #53
That seem to be a wrong assumption in 3rdparty  header that gcc9 does not define vld1q_u8_x4. But your version defines it. Could you please try gcc10?

[2021-01-16 08:22] programmador commented on #53
[code]

[2021-01-16 16:54] dothebart commented on #53
Heh, had this one too.
It has been fixed in the devel branch - resync'ing them; should work now.

[2021-01-18 07:36] programmador commented on #53
Wow, it's built. Running tests.

[2021-01-18 11:04] programmador commented on #53
[code]
[UNITTEST_RESULT.json.txt](https://github.com/arangodb/arangodb-docker/files/5829742/UNITTEST_RESULT.json.txt)

[2021-01-18 11:20] Dronplane commented on #53
Regarding testView failures - this failure means ArangoSearch index was not rebuilt fast enough. Most likely this is due to performance of the hardware. I've pushed update for tests to triple the timeout for that tests. Could you please re-run tests? No need to rebuild anything. It's just javascript test code change, it is not compiled in.

[2021-01-18 14:35] programmador commented on #53
Exactly same errors: (4083) is not equal to (5000)

[2021-01-18 14:41] dothebart commented on #53
https://github.com/arangodb/arangodb/pull/13393 was merged into the ARM branch which should fix the timezone issue.

[2021-01-18 14:46] Dronplane commented on #53
@programmador  what command  do you use to start tests?

[2021-01-18 15:14] programmador commented on #53
`./scripts/unittest all`

BTW, I've notices such messages while running at some moment:
[code]

[2021-01-18 15:22] Dronplane commented on #53
shell-query-spec.js is ok. This test suite intentionally creates long-running queries and kills them at some point to tests slow-queries  tracking.

[2021-01-18 15:24] Dronplane commented on #53
But I haven't seen testView failures in our runs on x86_x64 and arm machines. So I guess some logs from your environment would be very helpful

[2021-01-18 15:26] Dronplane commented on #53
Could you please run it with `./scripts/unittest dump` that will run only dump suite. And upload somewhere all logs.

[2021-01-18 16:44] Dronplane commented on #53
@programmador  just to check, have you pulled the latest changes before re-running tests?

[2021-01-19 08:09] programmador commented on #53
[code]

[2021-01-19 08:11] programmador commented on #53
`scripts/unittest dump` is running. Where will the logs appear? The same as before, an `out` folder?

[2021-01-19 09:21] Dronplane commented on #53
Yes out dir  and also application directory will be created in your temp path. It will be named like arangosh_[some random hash]
This path could be found in test output in console. At the end there will be something like that
`not cleaning up as some tests weren't successful:["<path to app dir>"]`

[2021-01-19 10:41] programmador commented on #53
[dump.zip](https://github.com/arangodb/arangodb-docker/files/5835320/dump.zip)
[out.zip](https://github.com/arangodb/arangodb-docker/files/5835323/out.zip)

I've also found that I had host system free space almoxt exhausted by a package manager and will try to re-run tests once more. Though I don't think it matters because I have docker configured to store it's data on external hdd.

[2021-01-19 10:53] Dronplane commented on #53
@programmador one more thing. Could you capture console output for tests ? Some output is only there.

[2021-01-19 14:05] programmador commented on #53
[code]

[2021-01-27 08:02] vanthome opened #96 "Let service run as application user instead of root user"
In the docker world it's best practice to let a containerized service run as non-root.
[For example Postgres create a `postgres` user and then in the Dockerfile use `USER postgres` to let the workload run under that user.](https://docs.docker.com/engine/examples/postgresql_service/).
I recommend you also introduce such a user for the official ArangoDB container images.

[2021-02-24 12:32] vanthome commented on #96
Will you solve this or is this to be maintained as is?

[2021-02-27 20:55] omert08 commented on #53
Hi guys,

I have a repo for ARM architectures. I've containerized it with docker. If you don't want to run it with docker, just download the tar.gz file and follow the install.sh commands.

Check it out! https://github.com/omert08/arangodb-arm64

[2021-03-19 14:53] dothebart commented on #96
Hi,
since this will be a breaking change for existing users we may only do this with an arangodb 4.0 release.

I also remember this being trouble some for mac/windows docker users.

There are two options to have to fix this for you right now:
 - derive the container
 - start the container with `--uid` ?

[2021-03-20 19:26] programmador commented on #53
[Here is an image](https://hub.docker.com/repository/docker/programmador/arangodb) of 3.8.0-devel built of @Dronplane's branch [feature/ARM64-building](https://github.com/arangodb/arangodb/tree/feature/ARM64-building).
It has the same issue as described in @omert08's repo [readme](https://github.com/omert08/arangodb-arm64/blob/master/README.md) - root password can't be initialized from env vars as

[2021-03-21 11:22] Dronplane commented on #53
I guess setting  -DUSE_MAINTAINER_MODE=off and -DUSE_GOOGLE_TESTS=off could reduce image size if running ArangoDB tests is not needed.

[2021-03-22 08:31] dothebart commented on #53
images based on debian packages with dynamically linked binaries will allways be larger.
nb, should we try pulling latest devel into this to check whether its still working properly?

[2021-03-23 08:59] programmador commented on #53
My image is large because of compile-time dependencies. I should either use checkinstall and multistage build or at least not install  those libs in Dockerfile - it could be done manually.

[2021-04-02 12:45] Minstel opened #97 "[Question] Enter docker container"
I want to enter running arango docker container. Tryed the following standard command:

[code]

But received the response:

[code]

The same is using `/bin/bash`.
The only option I found working is using `arangosh` as command, but that is not really what I want to do, as it enters arango shell, not container's filesystem.

So is there a way to do this?

[2021-04-02 18:30] dbenesj commented on #97
Sure, just use `sh` instead of `bash`

[2021-04-03 10:13] dothebart commented on #97
exactly. to reduce the container size arangodb comes with only /bin/sh instead of a full blown bash. Its also based on alpine, so if you need the compfort of a bash, please follow i.e. https://www.cyberciti.biz/faq/alpine-linux-install-bash-using-apk-command/

[2021-04-03 10:14] Minstel commented on #97
Great, thanks a lot!

[2021-04-03 10:14] #97 closed, assigned to nobody

[2021-04-19 10:36] mohsinht commented on #53
I'm getting this error when I run the container:

[code]

I have included this in the Docker Compose YML:

[code]

Any suggestion for a workaround? @programmador

[2021-04-19 11:40] programmador commented on #53
@mohsinht It seems like there is domething wrong with Your 'command' statement. Examples in my repository do not contain this statement as it was already configured while building an image. If You want to pass few parameters - I would advice to mount custom config file instead. As for 0.0.0.0:8529 - it is already used by default in the image config as far as I remember. You can inspect the default

[2021-04-22 13:48] skyhos opened #98 "Can't I put haproxy in front of arangodb?"
Hi, I am beginner of arangodb.
I put my haproxy contaier in front of arangodb container, but haproxy could not find the arangodb.
The haproxy redirects user requests to the destination containers base on the urls and it also provides https encryption. So I'd be happy if arangodb also work with the haproxy but it does not.

I found a log line from arangodb container,
[code]
I guess my issue is that

[2021-04-23 11:31] dothebart commented on #98
no, ha-proxy should work with http or https.
Here another user is using nginx as proxy:
https://github.com/arangodb/arangojs/issues/699

[2021-04-23 23:56] skyhos commented on #98
Oh, I set wrong port. Fix 8592 to 8529.
Thanks.

[2021-04-23 23:56] #98 closed, assigned to nobody

[2021-05-17 11:30] AngeredOne opened #99 "[QUESTION] Apply database and user creation during container build"
Hi there.

So, i have a Dockerfile wrapper along base Arangodb container.
I have copy simple .js file into "docker-entrypoint-initdb.d" dir. But after arango start there's no any effects.

I tryd to make some post-init actions ON DOCKER-COMPOSE!

Data of my js file:
[code]

Dockerfile data:
[code]

[2021-06-09 08:04] harisb2012 commented on #53
Is there any progress on this? What are the alternatives for new M1 Mac?

[2021-06-11 10:50] akomm opened #100 "ENV options set to 0 have opposite effect"
- `ARANGO_RANDOM_ROOT_PASSWORD=0` enables random root pass.
- `ARANGO_NO_AUTH=0` disables auth

Issues with that:
- unexpected, dangerous behavior
- no way to set some defaults in `.env` to be be overriden in `.env.local`, because `=0` has the effect of `=1`
- docker hub doc does not tell what the defaults are

[2021-08-17 08:52] anikin-aa opened #101 "Upgrade base image for alpine docker images"
Folks, hi !

Are you planning to upgrade base image of arangodb (3.6.x, 3.7.x) alpine docker image ?

https://github.com/arangodb/arangodb-docker/blob/official/alpine/3.6.15/Dockerfile
https://github.com/arangodb/arangodb-docker/blob/official/alpine/3.7.9/Dockerfile

Now it's uses `alpine:3.11` and according to snyk it contains high https://snyk.io/vuln/SNYK-ALPINE311-APKTOOLS-1534687 vulnerabilit

[2021-09-15 15:53] charconstpointer commented on #53
bump :(

[2021-09-15 18:50] charconstpointer commented on #53
[code]
Thanks to amazing @programmador this is what is working for me on M1 Mac, just make sure that the volume has right permissions

[2021-09-26 17:25] homeyjd commented on #53
It's not just laptops and the Apple M1 -- AWS's latest InstanceType offerings are trending towards ARM-based, like the 40% cheaper Graviton2 boxes.
Would love to see an official build of ARM64 for ArangoDB!

[2021-10-06 10:59] Dronplane commented on #53
Quick update: We've just pulled the latest devel  to the https://github.com/arangodb/arangodb/tree/feature/ARM64-building branch.  It should be compiled with the recommended here CMake flags.

[2021-10-10 17:07] programmador commented on #53
[code]
[CMakeError.log](https://github.com/arangodb/arangodb-docker/files/7317869/CMakeError.log)

[2021-10-10 17:14] Dronplane commented on #53
@programmador  Could you please attach the full cmake build  log? AFAIK pthread dependency was always there... And our ARM build does not detect anything like that. Sometimes CMake reports the actual error earlier  in the full log.

[2021-10-10 17:41] programmador commented on #53
Sure. Did You mean this file?
[CMakeOutput.log](https://github.com/arangodb/arangodb-docker/files/7317916/CMakeOutput.log)

[2021-10-10 17:43] programmador commented on #53
These fragments of error log look more relevant as for me.
Though probably it's another error, unrelated to pthreads:
[code]

[2021-10-10 17:49] programmador commented on #53
Will installation of smth from this list fix that?
[code]

[2021-10-10 18:06] Dronplane commented on #53
BTW could you please try with -DUSE_OPTIMIZE_FOR_ARCHITECTURE=Off

[2021-10-10 18:09] Dronplane commented on #53
And looking into the log files I don't see the actual build files generation failure. I mean, some "feature" checks are ok to fail after all.
But Cmake should generate some noisy complains in the end. Do you see something like that?

[2021-10-10 23:21] programmador commented on #53
Doesn't look too noisy as for me. Anyway here it is.
[output.log](https://github.com/arangodb/arangodb-docker/files/7318481/output.log)

[2021-10-10 23:22] programmador commented on #53
These are stdout+stderr combined. Though looks like stderr went to CMakeError.log

[2021-10-11 09:25] programmador commented on #53
BTW `-DUSE_OPTIMIZE_FOR_ARCHITECTURE=Off`  was the first thing I tried. Here are the
logs with this option disabled.
[code]

[CMakeError.log](https://github.com/arangodb/arangodb-docker/files/7321268/CMakeError.log)
[CMakeOutput.log](https://github.com/arangodb/arangodb-docker/files/7321270/CMakeOutput.log)
[output.log](https://github.com/arangodb/arangodb-docker/files/7321271/output.log)

[2021-10-11 12:45] dothebart commented on #53
hm, the pointers go into the direction `cmake/OptimizeForArchitecture.cmake` which has had two commits since the initial ARM branch:
 https://github.com/arangodb/arangodb/blob/devel/cmake/OptimizeForArchitecture.cmake
can you try whether any of the recent commits to it have introduced this?
https://github.com/arangodb/arangodb/commits/devel/cmake/OptimizeForArchitecture.cmake

[2021-10-11 13:25] Dronplane commented on #53
Okay.. let's ask cmake be more verbose.
@programmador  could you please add --debug-output to the cmake command and post output files  here ?

[2021-10-11 17:01] programmador commented on #53
[CMakeError.log](https://github.com/arangodb/arangodb-docker/files/7324181/CMakeError.log)
[CMakeOutput.log](https://github.com/arangodb/arangodb-docker/files/7324182/CMakeOutput.log)
[output.log](https://github.com/arangodb/arangodb-docker/files/7324183/output.log)

[2021-10-11 17:19] programmador commented on #53
@dothebart I've reverted top 4 of those commits one by one. The result is the same.

[2021-10-13 15:55] mJehanno opened #102 "[QUESTION] How to create database with docker-compose ?"
Hi,

I want to use arangoDb inside  a docker-compose file. The problem I get is that I didn't find any env variable that gives the possibility to create a new Database (other than the default one) or rename the default one like `POSTGRES_DB` does here : https://hub.docker.com/_/postgres . Am I missing something ?

[2021-10-18 13:42] vbasem opened #103 "Folder Permission in Alpine images are not root group writeable"
The folder permissions for  `/var/lib/arangodb3 /var/lib/arangodb3*` are not being properly set to `775` as mentioned in the Dockerfile:

[code]

The `echo` is rendering the command ineffective. This causes environments that disallow root user to fail when starting the ID container which needs to write to those folders which only have read permission by default.

I fixed it locally by rebuilding t

[2021-10-18 21:22] programmador commented on #53
I do not understand what's happening, quite a lot of time has passed since I was able to build successfully...
I've tried to rollback to different merge commits one by one eventually to this one (which obviously was successful):
https://github.com/arangodb/arangodb-docker/issues/53#issuecomment-762674038
Nothing helps, same useless output from cmake.
Will try to rebuild image - maybe I removed smt

[2021-10-18 23:59] programmador commented on #53
There are few yellow CMake warnings in output:
[code]

[code]

[code]

[code]
Is it important?

[2021-10-19 07:11] dothebart commented on #53
If I saw that correctly, the problem is, that it will run the detection for SSE3, say "not supported" and add the `no-sse3` flag to disable it. But the compiler says: I don't know this flag, so you can neither enable nor disable it.
So, I don't think any of these warnings are relevant.

I saw the toplevel cmake file has a new switch: `USE_SSE4_2` - can you set that to off from the commandline?
The

[2021-10-19 08:36] programmador commented on #53
Facepalm...
Long ago I've written a doc for myself not to forget how to build: https://bitbucket.org/programmador/build-arangodb/src/master/
And it has a mistake: `-CMAKE_SYSTEM_PROCESSOR` instead of `-DCMAKE_SYSTEM_PROCESSOR`
Not obvious enough when the cmdline string is quite long.

[2021-10-19 08:42] Dronplane commented on #53
Ah nice. Did that fixed cmake run?

[2021-10-19 08:45] dothebart commented on #53
good you found it in the end!

[2021-10-19 09:16] programmador commented on #53
Yeah, that's fixed! Trying to `make`.
[code]

I'l probably try the old revision first, just to reproduce my old builds to make sure that new troubles are only caused by changes in Arango and not by environment.

First of all I already can tell that abovementioned `which gcc` is really confusing me because after I've rebuilt a docker image GCC upgraded from 10 to 11 and now I  have to specify `-DCM

[2021-10-19 09:21] dothebart commented on #53
no, try running `make V=1` and see the V8-gyp invocation.
You can then invoke it several times like that, maybe adding params to fix it

[2021-10-19 10:57] programmador commented on #53
V=1 did not work though VERBOSE=1 did.
Unfortunately it didn't add clarity:
[code]

Though probably here is the cause of the problem: https://www.mail-archive.com/debian-bugs-dist@lists.debian.org/msg1814372.html

Here is more useful info:
https://groups.google.com/g/linux.debian.devel/c/1h7vtg5ty0U?pli=1
Probably I have to either find gnu-which package or just compile it https://salsa.debian.org/

[2021-10-19 12:12] dothebart commented on #53
lol gyp once more... https://stackoverflow.com/questions/377017/test-if-executable-exists-in-python

[code]
will search for a way to do this.

[2021-10-19 12:17] Dronplane commented on #53
@programmador  could you try to add an alias "gcc" pointing to actual compiler used (gcc 11 ?)
So "which gcc" will give us desired binary :)

[2021-10-19 12:26] programmador commented on #53
I'll try gcc11 a bit later but current problem is not in gcc.
It's just `which` util which breaks output with deprecation warning as I understand.
Will try either to acquire gnu-which or to use proxy shell script to use `command -v` instead of `which`

[2021-10-19 12:39] dothebart commented on #53
@programmador please try this: https://github.com/arangodb/arangodb/pull/14922 (just fixed an unwanted edit)

[2021-10-19 13:28] programmador commented on #53
For some reason I couldn't cherry-pick it - git tells that resulting commit will be empty.
Merging implies lots of conflicts.
Anyway I've just changed files manually and got:
[code]

looks like a quotation issue...

[2021-10-19 14:14] programmador commented on #53
With such a `which` workaround being first in `$PATH` build continues successfully:
[code]

[2021-10-19 14:16] programmador commented on #53
Hm... @dothebart seems like using just `command -v` instead of python in Your fix would be enough.
Though as for backward compatibility I have no idea at all.

[2021-10-19 16:29] dothebart commented on #53
the thing is, gyp is done in python, and it should lean on as less external tools as possible. $random old distro won't have that, ...
I will have a closer look at the patch tomorow, my hot guess would be that it should be two backslashes (each) to fix it.

[2021-10-20 10:04] programmador commented on #53
Got it compiled. Running tests. As I remember some of them should fail in my env (docker + slow hardware)

[2021-10-20 12:19] programmador commented on #53
Probably it is at least not worse than the 1.8-devel built I've made half a year ago.
Most of the time all tests walked fine one by one but at the end there lots of such messages:
[code]
and few JS errors as well:
[code]

[code]

I'm sure I can start building another image for dockerhub preferably try to make it not so large as the previous one.
Ideally is to rebuild it disabling maintainer mode a

[2021-10-20 12:25] Dronplane commented on #53
Small note: having "caught exception: not authorized to execute this request" errors by itself could be fine. There are some tests for authorization. And these tests execute some intentionally "unauthorized" requests. And expected this failure to happen.

[2021-10-20 12:29] programmador commented on #53
Yeah I thought about it though JS errors seem unexpected.
out folder looks not very informative:
[out.zip](https://github.com/arangodb/arangodb-docker/files/7381165/out.zip)
I'll try to run `dump` instead of `all`

[2021-10-20 12:31] programmador commented on #53
[code]

[2021-10-20 12:31] Dronplane commented on #53
"failed to start dataGenerator server!" makes me think this is something timeout related :( But still need to look deeper.

[2021-10-20 12:32] dothebart commented on #53
so you're running
`./scripts/unittest BackupNoAuthSysTests` for the one test which fails.
can you try to increase the timeout whether the system comes up eventually (hence its just SUT to slow) in `proces-utils.js` :`launchFinalize`
[code]

[2021-10-20 12:36] programmador commented on #53
[code]

[code]

[code]

Did not change anything.
There's no sense to modify `proces-utils.js` as `BackupNoAuthSysTests` is successful, am I right?

[2021-10-20 16:06] dothebart commented on #53
yes. it seems your system had a hickup, or was the other one a run with `--cluster true` ?

[2021-10-20 17:41] programmador commented on #53
No I didn't propagate `--cluster`.
Will try to do it. But first of all will try to re-run `all` tests.

[2021-10-21 14:40] programmador commented on #53
Restarted `dump_with_crashes` and `all` - nothing new, they are crashing the same way as described earlier.
`all --cluster true` is quite interesting. It's working the whole day sometimes eating gigabytes of swap, sometimes releasing memory but anyway it's trying to survive with 4GB_RAM+4GB_SWAP.
Probably it will end up with the same errors as encountered for single-node but generally it seems to

[2021-10-21 14:46] Dronplane commented on #53
Could you please also try running `shell_server_aql` test suite as a separate run?

[2021-10-21 17:09] programmador commented on #53
`all --cluster true` results:
[out.zip](https://github.com/arangodb/arangodb-docker/files/7391628/out.zip)
[code]

[2021-10-21 20:01] programmador commented on #53
`shell_server_aql`:
[code]
[out.zip](https://github.com/arangodb/arangodb-docker/files/7392552/out.zip)

[2021-10-22 08:01] dothebart commented on #53
the later is a problem that it requires a binary with compiled in failure points, which make the server misbehave on command. It seems that this testcase is missing the check for whether this is available.

[2021-10-30 10:49] programmador commented on #53
I've pushed 3.9.0-devel to https://hub.docker.com/r/programmador/arangodb
And also updated a building manual https://bitbucket.org/programmador/build-arangodb/src/master/

Before I thought that the cause of a large image size is presence of dev lib packages. Now I've built the image without additional `RUN`s and the size is still huge. I've checked what causes it. First of all the size of arangod

[2021-11-01 07:52] Dronplane commented on #53
Quick update:  Changes from the branch https://github.com/arangodb/arangodb/tree/feature/ARM64-building were incorporated into `devel` branch! So `ARM64-building` is now deprecated and scheduled for deletion in two weeks (15.Nov.2021) Please use `devel` branch for building your ARM64 targets from now on. The cmake settings are preserved:
`cmake .. -DCMAKE_BUILD_TYPE=RelWithDebInfo  -DCMAKE_SYSTEM_

[2021-11-01 13:55] caseypaite commented on #53
Building from git devel branch on Oracle Cloud Ampere ARM64 VM, after 20 minutes returned :
...
[ 13%] No install step for 'v8_build'
[ 14%] Completed 'v8_build'
[ 14%] Built target v8_build
make: *** [Makefile:152: all] Error 2
...

Any hint on the issue would be greatly appreciated.
Using: cmake .. -DCMAKE_BUILD_TYPE=RelWithDebInfo -DCMAKE_SYSTEM_PROCESSOR=aarch64 and make -j 4.

I'm not a devel

[2021-11-01 13:57] Dronplane commented on #53
@caseypaite  Could you please provide full build log ? As from the posted output I can't say much.

[2021-11-01 14:02] caseypaite commented on #53
Ok, i believe i didn't save the full log. I'll run it again and post the full log as soon as i can. Thanks.

[2021-11-01 14:43] caseypaite commented on #53
[make.log](https://github.com/arangodb/arangodb-docker/files/7454008/make.log)
@Dronplane, kindly take a look at the attached log.

[2021-11-01 14:49] Dronplane commented on #53
@caseypaite  please add to your cmake command `-DASM_OPTIMIZATIONS=Off`

[2021-11-01 14:55] caseypaite commented on #53
@Dronplane
Ok, thanks. i'll report back with results.

[2021-11-01 16:53] caseypaite commented on #53
@Dronplane
The same error came up even with `-DASM_OPTIMIZATIONS=Off`. So, I checked `cmake` output and found out that even after installing `g++-10` the system still uses `g++-9` as the default, `cmake` gave a warning but reports no error. So, now i changed my g++ and gcc defaults to use version 10:
`$ g++ --version`
`g++ (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0`
`Copyright (C) 2019 Free Software Fou

[2021-11-01 17:00] Dronplane commented on #53
Thanks for the update!

[2021-11-01 18:53] programmador commented on #53
@caseypaite

[Here](https://bitbucket.org/programmador/build-arangodb/src/master/) is a cmdline I used for configuring:
[code]
There is no need to explicitly disable `-DASM_OPTIMIZATIONS=Off`. Actually I don't know whether it is on by default - didn't check. As I've understood @Dronplane successfully ported optimisations to ARM-specific SIMD instructions.
CMake also blaimed than gcc11 is not suppo

[2021-11-02 02:40] caseypaite commented on #53
Now i can compile the latest `devel` branch without any issues using the parameters originally provided above by @Dronplane which is:
`cmake .. -DCMAKE_BUILD_TYPE=RelWithDebInfo -DCMAKE_SYSTEM_PROCESSOR=aarch64 -DUSE_MAINTAINER_MODE=On -DUSE_FAILURE_TESTS=On -DUSE_GOOGLE_TESTS=On`

That took approximately 1 hour and 15 minutes with `make -j 4`. My VM has 4 VCPU with 24 GB RAM, no swap. It is the a

[2021-11-02 07:53] dothebart commented on #53
Once [the work on CI/CD progresses](https://github.com/arangodb/oskar/pull/356), we're going to get nightly .deb/.rpm s; However, please note that only Raspy 3 and 4 are capable of running 64 bit binaries.

[2021-11-05 09:32] dothebart commented on #53
The PR-branch has been merged into the devel branch. Our CI now has compile tests - more to come.

[2021-11-06 22:03] programmador commented on #53
I've re-pushed 3.9.0-devel image with ArangoDB built without tests and in Release mode:
https://hub.docker.com/r/programmador/arangodb/tags
700+MB -> 157MB
It's still built on `feature/ARM64-building` branch instead of recently merged `devel` though who cares.

[2021-11-08 20:41] KVS85 commented on #103
Hello @vbasem,

This was fixed in https://github.com/arangodb/arangodb-docker/commit/d46dfa818833436aa89907a045c803de84c7868a and soon will appear at https://hub.docker.com/_/arangodb?tab=description.

[2022-01-13 08:37] 153957 commented on #53
I don't see ARM nightlies yet at https://download.arangodb.com/nightly/ . Am I looking in the right place, are you still setting up the release of those builds?

[2022-01-13 10:55] Dronplane commented on #53
@153957  There are plans to begin publishing ARM64 nightlies. But only after we will finish 3.9 release (which is ongoing now)

[2022-01-18 14:28] genert commented on #53
Can you share its Dockerfile?

[2022-01-18 15:26] 153957 commented on #53
@genert I think you can find their setup here: https://bitbucket.org/programmador/build-arangodb/

[2022-01-18 15:29] programmador commented on #53
Exactly.

[2022-01-27 12:33] akomm opened #104 "signals not handled in entrypoint"
Signals are not handled in entrypoint, hence the container is always killed by docker after grace period. You realize it, when you configure a longer grace period, than the default one.

[2022-03-18 09:24] DizzyDeveloper opened #105 "Enabling experimental naming conventions"
Hi,

I was wander if it is possible to enable the `extended-names-databases` feature?

Is there a way to enable it via an environment variable or a parameter of sorts? Or would I have to create a derived image with that flag set myself?

[2022-03-18 10:29] dothebart commented on #105
Hi,
ArangoDB configuration variables translate to CLI arguments. Hence starting the docker container with
[code]
would be similar to
[code]

[2022-03-18 11:20] DizzyDeveloper commented on #105
@dothebart Legend thanks mate! Got it to work :)

For those who come across this later, or for a summary for myself for when I inevitably forget. Usage as follows:

docker:

[code]

docker-compose:
[code]

[2022-03-18 11:20] #105 closed, assigned to nobody

[2022-03-21 22:39] nickcodefresh commented on #72
Why hasn't this option been added? It's a bit ridiculous that this was requested 3 years ago and yet there's no easy way to upgrade when running the stock Docker image.

[2022-04-05 08:58] scrgh commented on #53
Any update on supporting ARM64 for Ampere Altra Max and AWS Gravitation.  ARM seem to be pretty good for performance per watt for my new data center.

[2022-04-05 16:22] dothebart commented on #53
The devel-CI now has full ARM support. However, we're still working on one last component to complete ARM64 support and may then subsequently create docker containers, packages etc. as part of the nightly builds.

[2022-04-06 10:01] beneiltis opened #106 "Docker image 3.8.6 ARANGO_ROOT_PASSWORD"
Hey folks,

awesome product you have there.
When I try the docker image in version 3.8.6 and set up the env var ARANGO_ROOT_PASSWORD it will not be applied.
If I use version 3.9.0 everything works as expected :-)

Cheers from Cologne
Bene

Keep up the great work!

[2022-04-06 10:51] dothebart commented on #106
Hi,
setting the password only works on a fresh database; can you please add the full comandline of both attempts?

[2022-04-06 11:38] beneiltis commented on #106
hi Wilfried, yeah this is what I was expecting. We always create fresh persistent volumes/claims within kubernetes. So it should always be a fresh database.
Sorry I cannot provide you with the full commandline of both attempts.

Feel free to close this if you cannot reproduce.

Have a good one :-)

[2022-04-06 12:55] dothebart commented on #106
do you use the kubernetes operator?
Since all of the scripts are identical, I don't see a way how else this could have broken. So without a more detailed description how to reproduce I can't help it.

Greetings from Bergisch Gladbach ;)

[2022-04-08 14:40] #106 closed, assigned to nobody

[2022-04-11 10:28] thisisdev-patrick commented on #53
Cool, where can I find this build? Thanks!

[2022-04-23 02:23] scrgh commented on #53
@dothebart Do you have any new update on ARM64 support ?

[2022-04-29 04:09] cwk12 commented on #53
@dothebart   Hi, is there any plan to release arm64-supported edtion? Now i'm using devel edtion on an arm VM.

[2022-04-29 08:02] dothebart commented on #53
We're currently working hard for the QA of the ported component I mentioned above.
Hopefully next week that will be done, and we soon can push the ARM devel container.
As it stands now, 3.10.0 is going to come with ARM support.

[2022-05-02 18:28] dothebart commented on #53
It seems that the availability of Altera machines may delay us further.
We should have had it already for since the 05.02.2022 according to the purchase order - but nothing has arrived yet.
We will see whether we can work around it in any way for the package generation process.

[2022-05-02 18:31] AGSaidi commented on #53
@dothebart  would access to some Graviton instances help?

[2022-05-02 18:32] dothebart commented on #53
for the ci we have used AWS instances; this machine is needed in the office, we can't do that on rented hardware.

[2022-05-03 01:08] scrgh commented on #53
@dothebart Did you mean Altra and Altra Max CPU from Amperecomputing ?

[2022-05-03 01:11] scrgh commented on #53
@dothebart Ampere Altra from Equinix https://metal.equinix.com/product/servers/c3-large-arm64/
Ampere Altra from Microsoft Azure https://azure.microsoft.com/en-us/blog/now-in-preview-azure-virtual-machines-with-ampere-altra-armbased-processors/

[2022-05-13 01:34] cwk12 commented on #53
hello, @dothebart , is there any good news? :)     When the 3.10.0 version will be released?

[2022-05-13 07:17] dothebart commented on #53
it seems the Manufacturer got new CPUs this week, and probably they will build our machine now.

[2022-05-16 17:25] marcdefaria commented on #53
Excited for this feature to be introduced :D

[2022-05-27 08:59] cwk12 commented on #53
hello, @dothebart ,  is arm machine ready for testing?

[2022-05-30 15:03] dothebart commented on #53
Yes! it arived last week, we're currently setting it up.
Watch the unboxing here: ;-)
[![Unboxing the ARM machine](https://img.youtube.com/vi/NG9rovHGU0g/default.jpg)](https://youtu.be/NG9rovHGU0g)
If anybody has a good source for another machine that won't take half a year to deliver, we'd be open for sugestions...

[2022-05-31 01:04] scrgh commented on #53
@dothebart Have you checked this https://store.avantek.co.uk/ampere.html ? It is in UK and easily accessible from Germany.

[2022-06-09 01:11] cwk12 commented on #53
@dothebart :   Hi!  Is the test going well? :)

[2022-06-15 15:50] zambotn commented on #53
What about Mac "M series"? They are all ARM64 and you can buy them in any Apple store...

[2022-06-18 21:20] simmerup commented on #53
Is there a test build of this we can run, for those of us developing on M1 MacBooks?

[2022-06-20 07:11] dothebart commented on #53
We currently offer less optimized 3.9.X64 binaries in a docker container that suit the features set of rosetta-vm. You can pull it with i.e. the version [`3.9.2-noavx`](https://hub.docker.com/layers/arangodb/arangodb/arangodb/3.9.2-noavx/images/sha256-9c3f737227f52f38dd1ccc002b3f2a7b857220a5218e1b7993e35f5d33579fd1?context=explore)

Yes, probably the later build machine is going to be an apple - i

[2022-06-21 19:45] weenix1 commented on #53
Excited about it;,when do you think we'll be able to use it?

[2022-06-22 14:14] narender56 commented on #53
Still awaiting on this 😓

[2022-06-22 14:17] 153957 commented on #53
Please be patient, they are working on it, it will get done when it is done.

[2022-06-23 10:12] weinr0ck commented on #53
Hello,

I have been following this thread for a while as I have an M1 macbook pro. I have a situation at work where I'd love to show my colleagues how a graph database would solve a frustration we're having, but I need a POC first. My problem is I haven't been able to get the 3.9.2-noavx to work. I don't know what I'm doing wrong. Sorry if this isn't the appropriate thread.
Currently I have a dock

[2022-06-23 10:15] marcdefaria commented on #53
An untested guess:
`image: arangodb/arangodb:3.9.2-noavx`

[2022-06-23 10:18] ddelange commented on #53
Looks like there are no `linux/arm64` images for that tag:
[code]

[2022-06-23 10:45] 153957 commented on #53
There may be no arm image for that tag, but at least it should work using rosetta emulation, since it does not have the AVX instructions which would prevent rosetta from emulating it.

[2022-06-24 09:04] oliverlockwood commented on #53
You need to specify the registry, as @marcdefaria  said, and also the `platform` property.  Taking the example from @weinr0ck:

[code]

[2022-06-24 12:24] weinr0ck commented on #53
Thanks @marcdefaria & @oliverlockwood! Got it working.

[2022-07-06 07:37] ddelange commented on #53
Does this issue also cover [`arangodb/kube-arangodb`](https://hub.docker.com/r/arangodb/kube-arangodb)?

[2022-07-06 07:46] Simran-B commented on #53
@ddelange it already lists ARM support:

![Screenshot_20220706-094454__01](https://user-images.githubusercontent.com/7819991/177497671-ccb9cc07-d621-4bfb-8ad5-0deab6eb08a2.jpg)

[2022-07-07 09:00] oliverlockwood commented on #53
@dothebart any progress?  We all wait with bated breath 😄

[2022-07-08 06:45] trieder83 commented on #103
To make the directories root writeable on a image is not a good idea. Usually root it's prohibited (by psp) to run a image as root.
As well, it's a bad practice to write to image filesystem as well!

[2022-07-21 10:14] KVS85 commented on #53
@oliverlockwood starting today we will publish `devel-nightly` multiarch image. It will be a base for 3.10 in future:
- [arangodb/arangodb-preview:devel-nightly](https://hub.docker.com/layers/arangodb-preview/arangodb/arangodb-preview/devel-nightly/images/sha256-26ca57a40556f5c48c25e034a8200285fc1c50731b90c5a5c96b12e09504b851)

[2022-07-26 13:23] mathiashls commented on #53
Hello everyone!

This link is broken. Use [this](https://hub.docker.com/layers/arangodb-preview/arangodb/arangodb-preview/devel-nightly/images/sha256-b8d1bc3a4f973648132d986eda07db12d42c0a636c3e16b61c99286b32b8aabb?context=explore)!

[2022-08-08 06:02] nykma opened #107 "ArangoDB 3.10?"
Since [ArangoDB 3.10](https://www.arangodb.com/docs/devel/release-notes-new-features310.html) is out, do we have a plan to update this official docker image?

[2022-08-09 12:12] dothebart commented on #107
I'm sorry that the documentation currently creates this erroneous belief - 3.10 has not yet been released. The Documentation hopefully will soon be fixed to properly represent the release state of 3.10.
Please follow https://groups.google.com/g/arangodb-announce for actual release anouncemnets.

[2022-08-09 12:12] #107 closed, assigned to nobody

[2022-08-10 12:09] Simran-B commented on #107
There is no consensus about what the version label should be at the current stage of the release cycle, but there will be a warning on every page of unreleased versions to state that the docs are work in progress. I'm not sure when the docs will be published next but likely soon.

[2022-08-17 14:12] ruckc commented on #53
Obligatory comment asking for this.  Its only been 4 years, no biggie.

[2022-08-17 20:50] dothebart commented on #53
you've missed the last comment before you. The Nightlies are containing ARM packages.

[2022-08-17 20:51] ruckc commented on #53
The nightlies are not stable.

On Wed, Aug 17, 2022, 16:50 Wilfried Goesgens ***@***.***>
wrote:

[2022-08-17 20:56] dothebart commented on #53
It will be part of the next minor release. If you are developing you application now, it could be on time.
ARM-Support comes with the maintainance cost of a whole other port. So, yes - it is a big investment in terms of development power and other resources.

[2022-09-04 09:17] NetwarSystem opened #108 "Customize web interface appearance?"
I've been using ArangoDB for a couple years but am only starting to do stuff with Docker in the last month or so. I recall early on that I found a way to change the logo on the web interface page so that I had a visual clue as to if I'm touching R&D instance or production.

This really should be part of a configuration dialog rather than digging around in CSS and stuff trying to figure out how to

[2022-09-06 09:02] caseypaite commented on #53
With the amount of interest shown for ARM64 support, and the amount of focus in the development of the ARM64 port, i am hopeful we will be able to get a stable release optimised for ARM64 by end of year.

[2022-09-06 10:50] dothebart commented on #53
Currently M1 is giving us a bad time, but we will solve this in the not too distant future.

[2022-09-08 13:19] ZimboQC opened #109 "Vulnerabilities in /usr/bin/arangodb"
Hi,

Our docker images are scanned by PrismaCloud and high vulnerabilities are found in /usr/bin/arangodb in the last releases.

- CVE-2019-16884 - runc through 1.0.0-rc8, as used in Docker through 19.03.2-ce and other products, allows AppArmor restriction bypass because libcontainer/rootfs_linux.go incorrectly checks mount targets, and thus a malicious Docker image can mount over a /proc director

[2022-09-15 14:34] gizm0bill commented on #53
Could you please help me to downgrade to 3.8.x (using homebrew or any onther way) on an M1 mac?

I have installed 3.9.x and, as I read around the issues is not working `9188 illegal hardware instruction  arangod`
Now I want to downgrade to 3.8.5 but I'm getting `/bin/sh: go: command not found. GO in Version 1.13 required` even though `go@1.18` is installed and command should be there... because `g

[2022-09-15 14:43] dothebart commented on #53
I'm sorry, but Homebrew is bleeding edge only - its only going forward there is no way back.
You could use
- the [arangodb/arangodb-preview:devel-nightly](https://hub.docker.com/layers/arangodb-preview/arangodb/arangodb-preview/devel-nightly/images/sha256-26ca57a40556f5c48c25e034a8200285fc1c50731b90c5a5c96b12e09504b851) docker container listed above to go forward with native ARM,
- the nightly 3.1

[2022-09-15 14:45] gizm0bill commented on #53
_Could you please point me in the direction of the tarballs? I don't want to use docker at the moment
Thank you_
found them, nevermind, thanks

[2022-09-16 12:50] ddelange commented on #53
Hi 👋

For the crds I can [set](https://github.com/arangodb/kube-arangodb/blob/1.2.16/chart/kube-arangodb/values.yaml#L10) architectures.

Nevertheless, when I push an `ArangoDeployment` resource to the cluster, the resulting resources are created with

[code]

How can I prevent/change from `amd64` to `arm64`? From a quick [search](https://github.com/arangodb/kube-arangodb/search?q=nodeSelectorTerm

[2022-09-16 12:56] jwierzbo commented on #53
You need to define `architecture` field in your ArangoDeployment:

[code]

[2022-09-16 16:42] ddelange commented on #53
Is it possible this change won't be picked up when updating the `ArangoDeployment` in-place? I tried `kubectl patch` as well as `kubectl apply`. Do I need to remove the resource completely and recreate it?

[2022-09-16 18:57] jwierzbo commented on #53
You need to whitelist new arch in operator as well:
[code]

[2022-09-19 08:19] fceller commented on #109
Hi @ZimboQC , we are working on it. It will especially require on upgrade of GO.

[2022-09-19 09:19] ddelange commented on #53
@jwierzbo thanks for the tips. do you have any more?

- Updated `ArangoDeployment` resource in the cluster with `spec.architecture` from your pre-last comment using a kubectl apply
- Updated crd in the cluster to 1.2.15, updated helm chart with your last comment
- Operator restarts, other arango pods stay untouched even after operator restart
- Manually deleted the prmr pods to see how they get re

[2022-09-19 17:20] jwierzbo commented on #53
which arangodb image version do you use?
it works since 3.10
e.g. arangodb/arangodb-preview:3.10-nightly

[2022-09-19 19:03] ddelange commented on #53
yup I [specified](https://github.com/arangodb/arangodb-docker/issues/53#issuecomment-1249323160) the multi arch image `arangodb/arangodb-preview:3.10.0-beta.1`, but that's I guess independent of the nodeAffinity ending up being set to amd64. I would have expected the `spec.architecture` addition to have led to a redeploy of the cluster, but that never happened. I also found `spec.architecure` in t

[2022-09-19 19:43] dothebart commented on #53
careful!
ARM64 != AMD64
In fact amd64 is x86.

[2022-09-20 06:56] ddelange commented on #53
definitely :) I'm trying to make the nodeAffinity added by the operator to the pods to become `arm64`, by patching my `ArangoDeployment` snippet [above](https://github.com/arangodb/arangodb-docker/issues/53#issuecomment-1249323160) with:
[code]
But it doesn't have affect as I explained above. Only thing I haven't tried is completely killing and recreating my cluster (but k8s would destroy my PVCs

[2022-09-20 10:08] jwierzbo commented on #53
@dothebart I was able to reproduce your case (change amd64 to arm64 in deployment not work). I will check the cause and prepare the fix in operator if needed

[2022-09-23 08:08] ddelange commented on #53
Another fun one:

Deleted the ArangoDeployment from above (but with arm64 in the spec), and now trying to re-create it.

The operator creates the following `id` Pod, with arm64 nodeAffinity, but without arm64 tolerations. We have tolerations in the ArangoDeployment for controller,agent,prmr -- because we have a mixed amd64/arm64 cluster, and all arm64 nodes are tainted such that they are opt-in. N

[2022-09-23 14:26] jwierzbo commented on #53
@ddelange if you use `taints` on your nodes then you can add `spec.nodeSelector` to your deployment.

In current version of operator if you would like to change your member arch you need to replace a member.
So once your deployment Spec is updated to arm64 then run the following on the specific member:
`kubectl annotate pod $POD deployment.arangodb.com/replace=true`

In next release there will be

[2022-09-30 14:13] ZimboQC commented on #109
Great! Thanks

[2022-10-10 15:18] dothebart commented on #53
Hi everyone.
Please note that with the ArangoDB 3.10  Release ARM64 and and Apple cortex M1 support is available.

See https://www.arangodb.com/news/arangodb-provides-graph-usability-at-scale-with-release-of-arangodb-3-10/ for more details of the release, or have a look at one of the presentations of the ArangoDB Summit 2022 via https://www.arangodb.com/

Special thanks go out to @programmador for

[2022-10-10 15:18] #53 closed, assigned to dothebart

[2022-10-10 17:07] ddelange commented on #53
thanks for the efforts, everyone! 🙏

@jwierzbo did you end up making any changes worth mentioning? shall I just upgrade crd/operators charts to 1.2.19 and try again?

[2022-10-10 17:28] ddelange opened #110 "Cannot set tolerations/nodeSelector for temporary arangodb-cluster-id pod"
Hi! :wave:

I'm trying to deploy an ArangoDeployment to a mixed amd/arm cluster, where the arm nodes have a no schedule taint.

When I boot a fresh cluster with `spec.architecture: [arm64]`, there will be a temporary `arangodb-cluster-id-xxx` pod created, which has hard NodeAffinity for arm64, but no way to add tolerations/nodeSelector. This means the pod won't be scheduled on a node, and the clus

[2022-10-10 17:34] ddelange commented on #110
correction: the cluster boots succesfully with my dual architecture setup, but i think that's also a bug:

with that setup, the `prmr` pods will end up with only one nodeaffinity, and so there will still be no pods going onto the arm nodes:

[code]

[2022-10-10 17:36] ddelange commented on #110
when i switch the order in `spec.architecture`, we're back at the original issue, where the temporary pod doesn't schedule. it seems that only the first entry in `spec.architecture` is respected:

[code]

[2022-10-10 17:42] ddelange commented on #110
fwiw in the original implementation there was an error [`"Only one architecture type is supported currently"`](https://github.com/arangodb/kube-arangodb/pull/900/files#diff-d463af5ab5278e628363922296b9d4634c8088448fe08d2034493d337855d458R43), but that [seems to have disappeared](https://github.com/arangodb/kube-arangodb/blame/1.2.19/pkg/apis/deployment/v2alpha1/architecture.go#L42) before/during/a

[2022-10-10 17:47] ddelange commented on #110
so I now hacked our toleration
[code]
into the spec of the temporary pod and the cluster now successfully booted on arm

[2022-10-10 17:56] ddelange commented on #110
opened https://github.com/arangodb/kube-arangodb/issues/1140

[2022-10-10 18:00] ddelange commented on #110
cc @jwierzbo from https://github.com/arangodb/arangodb-docker/issues/53#issuecomment-1256284798

I guess this issue should live in kube-arangodb actually 😅 should I close and re-open there?

[2022-10-10 21:00] dothebart commented on #110
yes, I think as long as our docker container doesn't anything wrong about this topic, this issue doesn't belong here, and it should be discussed inside of the http://github.com/arangodb/kube-arangodb repo.
The multiarch support of the container should be working properly as of ArangoDB 3.10, right?

[2022-10-10 21:32] ddelange commented on #110
yes, all green until now! I'll re-open there

[2022-10-11 06:14] ddelange commented on #110
closing in favor of https://github.com/arangodb/kube-arangodb/issues/1141

[2022-10-11 06:14] #110 closed, assigned to nobody

[2022-10-17 10:09] jwierzbo commented on #53
@ddelange `arch` annotation is not yet released and that feature will be available only in Enterprise version of Operator.